In [1]:
import pandas as pd 
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.sql import text as sa_text
from IPython.display import display
pd.options.display.max_columns = None

In [2]:
%load_ext autotime

In [3]:
engine = create_engine('mysql+pymysql://root:h0lding@localhost/pos?charset=utf8&local_infile=1')

time: 9.76 ms

In [4]:
engine.execute(sa_text('''DROP SCHEMA IF EXISTS pos''').execution_options(autocommit=True))

time: 130 ms

In [5]:
engine.execute(sa_text('''CREATE SCHEMA `pos` DEFAULT CHARACTER SET utf8 ;''').execution_options(autocommit=True))

time: 1.76 ms

In [6]:
engine.execute(sa_text('''use `pos`; ''').execution_options(autocommit=True))

time: 1.99 ms

# Population 
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710013501

In [7]:
data = pd.read_csv("17100135-eng/17100135.csv")

time: 843 ms

In [8]:
measurer = np.vectorize(len)
res1 = dict(zip(data, measurer(data.values.astype(str)).max(axis=0)))

time: 3.62 s

In [9]:
res1

{'Age group': 17,
 'COORDINATE': 9,
 'DECIMALS': 1,
 'DGUID': 14,
 'GEO': 51,
 'REF_DATE': 4,
 'SCALAR_FACTOR': 6,
 'SCALAR_ID': 1,
 'STATUS': 3,
 'SYMBOL': 3,
 'Sex': 10,
 'TERMINATED': 3,
 'UOM': 7,
 'UOM_ID': 3,
 'VALUE': 7,
 'VECTOR': 11}

time: 1.35 ms

In [10]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_pop''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_pop'")
  result = self._query(query)

time: 3.91 ms

In [11]:
query = """ CREATE TABLE `health_pop` (
`REF_DATE` varchar(4) DEFAULT NULL,
 `GEO` varchar(51) DEFAULT NULL,
 `DGUID` varchar(14) DEFAULT NULL,
 `Sex` varchar(10) DEFAULT NULL,
 `Age group` varchar(17) DEFAULT NULL,
 `UOM` varchar(7) DEFAULT NULL,
 `UOM_ID` varchar(3) DEFAULT NULL,
 `SCALAR_FACTOR` varchar(6) DEFAULT NULL,
 `SCALAR_ID` varchar(1) DEFAULT NULL,
 `VECTOR` varchar(11) DEFAULT NULL,
 `COORDINATE` varchar(9) DEFAULT NULL,
 `VALUE` varchar(7) DEFAULT NULL,
 `STATUS` varchar(3) DEFAULT NULL,
 `SYMBOL` varchar(3) DEFAULT NULL,
 `TERMINATED` varchar(3) DEFAULT NULL,
 `DECIMALS` varchar(1) DEFAULT NULL,

KEY `REF_DATE` (`REF_DATE` ),
KEY `GEO` (`GEO`),
KEY `DGUID` (`DGUID`),
KEY `Sex` (`Sex`),
KEY `Age group` (`Age group`),
KEY `UOM` (`UOM`),
KEY `UOM_ID` (`UOM_ID`),
KEY `SCALAR_FACTOR` (`SCALAR_FACTOR`),
KEY `SCALAR_ID` (`SCALAR_ID`),
KEY `VECTOR` (`VECTOR`),
KEY `COORDINATE` (`COORDINATE` ),
KEY `VALUE` (`VALUE`),
KEY `STATUS` (`STATUS`),
KEY `SYMBOL` (`SYMBOL`),
KEY `TERMINATED` ( `TERMINATED`),
KEY `DECIMALS` (`DECIMALS`)


) ENGINE=InnoDB DEFAULT CHARSET=utf8;""";

time: 1.88 ms

In [12]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 45.8 ms

In [13]:
query = """
LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100135-eng/17100135.csv'
INTO TABLE pos.health_pop
FIELDS TERMINATED BY ','
ENCLOSED BY '\"' IGNORE 1 LINES"""

time: 473 Âµs

In [14]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 17.3 s

In [15]:
toronto =  data.query('GEO.str.contains("Toronto") or GEO.str.contains("toronto")')

time: 363 ms

In [16]:
toronto.to_csv('17100135-eng/toronto.csv', encoding='utf-8', index=False)

time: 25.6 ms

In [17]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_pop_toronto''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_pop_toronto'")
  result = self._query(query)

time: 2.2 ms

In [18]:
engine.execute(sa_text('''CREATE TABLE IF NOT EXISTS 
health_pop_toronto LIKE health_pop''').execution_options(autocommit=True))

time: 57.2 ms

In [19]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100135-eng/toronto.csv' 
INTO TABLE pos.health_pop_toronto  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 223 ms

In [20]:
engine.execute(sa_text("""alter table health_pop_toronto
  drop UOM_ID,  drop SCALAR_FACTOR, drop SCALAR_ID, drop VECTOR, drop COORDINATE,drop SYMBOL,
drop `TERMINATED`,drop `DECIMALS`,drop DGUID;""").execution_options(autocommit=True))

engine.execute(sa_text("""delete from  health_pop_toronto where `Sex` = 'Both sexes';""").execution_options(autocommit=True))

engine.execute(sa_text("""delete from  health_pop_toronto where  !(`Age group`  like '%to%' OR  `Age group`  like '%and%' );""").execution_options(autocommit=True))

time: 454 ms

In [21]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_pop_toronto_year_group''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_pop_toronto_year_group'")
  result = self._query(query)

time: 5.32 ms

In [22]:
engine.execute(sa_text("""create table health_pop_toronto_year_group
select '2007/2008' `REF_DATE`,GEO,`Sex`,`Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto  where REF_DATE in (2007,2008)
group by GEO,`Sex`,`Age group`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert health_pop_toronto_year_group
select '2009/2010' `REF_DATE`,GEO,`Sex`,`Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto  where REF_DATE in (2009,2010)
group by GEO,`Sex`,`Age group`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert health_pop_toronto_year_group
select '2011/2012' `REF_DATE`,GEO,`Sex`,`Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto  where REF_DATE in (2011,2012)
group by GEO,`Sex`,`Age group`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert health_pop_toronto_year_group
select '2013/2014' `REF_DATE`,GEO,`Sex`,`Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto  where REF_DATE in (2013,2014)
group by GEO,`Sex`,`Age group`,`UOM`,`Status`;""").execution_options(autocommit=True))

time: 32.5 ms

In [23]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_pop_toronto_age_group''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_pop_toronto_age_group'")
  result = self._query(query)

time: 2.91 ms

In [24]:

engine.execute(sa_text("""create table health_pop_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'65 years and over' `Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto_year_group 
where  `Age group` in ('65 to 69 years','70 to 74 years','75 to 79 years','80 to 84 years','85 to 89 years','90 years and over')
group by GEO,`Sex`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert health_pop_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'12 to 19 years' `Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto_year_group 
where  `Age group` in ('0 to 4 years', '5 to 9 years','10 to 14 years','15 to 19 years')
group by GEO,`Sex`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert health_pop_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'20 to 34 years' `Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto_year_group 
where  `Age group` in ('20 to 24 years','25 to 29 years','30 to 34 years')
group by GEO,`Sex`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))	

engine.execute(sa_text("""insert health_pop_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'35 to 44 years' `Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto_year_group 
where  `Age group` in ('35 to 39 years','40 to 44 years')
group by GEO,`Sex`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))	


engine.execute(sa_text("""insert health_pop_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'45 to 64 years' `Age group`,`UOM`,sum(value) VALUE,`Status` from health_pop_toronto_year_group 
where  `Age group` in ('45 to 49 years','50 to 54 years','55 to 59 years','60 to 64 years')
group by GEO,`Sex`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))

time: 31.9 ms

In [25]:
colunas_tabela = pd.read_sql_query("""select * from health_pop_toronto_age_group""", engine)

time: 2.62 ms

In [26]:
pivot = pd.pivot_table(colunas_tabela,
        values='VALUE', 
        index=['Age group','REF_DATE','Sex'], 
        columns='UOM', 
        aggfunc=np.sum)

time: 18.1 ms

In [27]:
flattened = pd.DataFrame(pivot.to_records())

time: 2 ms

In [28]:
flattened.to_csv('17100135-eng/toronto_pivot.csv', encoding='utf-8', index=False)

time: 2.62 ms

In [29]:
measurer = np.vectorize(len)
res1 = dict(zip(flattened, measurer(flattened.values.astype(str)).max(axis=0)))

time: 2.96 ms

In [30]:
res1

{'Age group': 17, 'Persons': 9, 'REF_DATE': 9, 'Sex': 7}

time: 2.5 ms

In [31]:
query = """CREATE TABLE `health_pop_toronto_age_group_pivot` (
  `Age group` varchar(17) NOT NULL,
  `REF_DATE` varchar(12) DEFAULT NULL,
  `Sex` varchar(100) DEFAULT NULL,
  `Persons` varchar(9) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;""";

time: 1.12 ms

In [32]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_pop_toronto_age_group_pivot''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_pop_toronto_age_group_pivot'")
  result = self._query(query)

time: 3.29 ms

In [33]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 11.2 ms

In [34]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100135-eng/toronto_pivot.csv'  INTO TABLE pos.health_pop_toronto_age_group_pivot  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 11.7 ms

# Salary

https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1110000801

In [35]:
data = pd.read_csv("11100008-eng/11100008.csv")

time: 941 ms

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
measurer = np.vectorize(len)
res1 = dict(zip(data, measurer(data.values.astype(str)).max(axis=0)))

time: 3.54 s

In [37]:
res1

{'Age group': 17,
 'COORDINATE': 10,
 'DECIMALS': 1,
 'DGUID': 14,
 'GEO': 46,
 'Persons with income': 40,
 'REF_DATE': 4,
 'SCALAR_FACTOR': 6,
 'SCALAR_ID': 1,
 'STATUS': 3,
 'SYMBOL': 3,
 'Sex': 10,
 'TERMINATED': 3,
 'UOM': 7,
 'UOM_ID': 3,
 'VALUE': 10,
 'VECTOR': 11}

time: 1.39 ms

In [38]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_salary''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_salary'")
  result = self._query(query)

time: 3.5 ms

In [39]:
query = """CREATE TABLE `health_salary` (

`REF_DATE` varchar(4) DEFAULT NULL,
 `GEO` varchar(46) DEFAULT NULL,
 `DGUID` varchar(14) DEFAULT NULL,
 `Sex` varchar(10) DEFAULT NULL,
 `Age group` varchar(17) DEFAULT NULL,
 `Persons with income` varchar(40) DEFAULT NULL,
 `UOM` varchar(7) DEFAULT NULL,
 `UOM_ID` varchar(3) DEFAULT NULL,
 `SCALAR_FACTOR` varchar(6) DEFAULT NULL,
 `SCALAR_ID` varchar(1) DEFAULT NULL,
 `VECTOR` varchar(11) DEFAULT NULL,
 `COORDINATE` varchar(10) DEFAULT NULL,
 `VALUE` varchar(10) DEFAULT NULL,
 `STATUS` varchar(3) DEFAULT NULL,
 `SYMBOL` varchar(3) DEFAULT NULL,
 `TERMINATED` varchar(3) DEFAULT NULL,
 `DECIMALS` varchar(1) DEFAULT NULL,
 
KEY `REF_DATE` (`REF_DATE`),
KEY  `GEO` (`GEO`),
KEY  `DGUID` (`DGUID`),
KEY  `Sex` (`Sex`),
KEY  `Age group` (`Age group`),
KEY  `Persons with income` (`Persons with income`),
KEY  `UOM` (`UOM`),
KEY  `UOM_ID` (`UOM_ID`),
KEY  `SCALAR_FACTOR` (`SCALAR_FACTOR`),
KEY `SCALAR_ID` (`SCALAR_ID`),
KEY  `VECTOR` (`VECTOR`),
KEY `COORDINATE` (`COORDINATE`),
KEY  `VALUE` (`VALUE`),
KEY  `STATUS` (`STATUS`),
KEY `SYMBOL` (`SYMBOL`),
KEY  `TERMINATED` (`TERMINATED`),
KEY  `DECIMALS` (`DECIMALS`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;""";

time: 2.8 ms

In [40]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 66.5 ms

In [41]:
query = """
LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/11100008-eng/11100008.csv'
INTO TABLE pos.health_salary
FIELDS TERMINATED BY ','
ENCLOSED BY '\"' IGNORE 1 LINES"""

time: 2.87 ms

In [42]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 18.1 s

In [43]:
#qtd registros

qtd_registros = pd.read_sql_query('select count(*) from health_salary', engine)
qtd_registros = qtd_registros.iloc[0][0]

time: 160 ms

In [44]:
colunas_tabela = pd.read_sql_query("SELECT concat('`',COLUMN_NAME,'`') COLUMN_NAME FROM information_schema.columns WHERE  table_name='health_salary'", engine)

time: 2.61 ms

In [45]:
colunas = []

for index, row in colunas_tabela.iterrows():
    colunas.append({'coluna' : row['COLUMN_NAME'],
                    'query_avg' : 'select avg('+row['COLUMN_NAME']+') avg  from health_salary;',
                    'query_min' : 'select min('+row['COLUMN_NAME']+') min  from health_salary;',
                    'query_max' : 'select max('+row['COLUMN_NAME']+') max  from health_salary;',
                    'query_variance' : 'select variance('+row['COLUMN_NAME']+') variance  from health_salary;',
                    'query_std' : 'select std('+row['COLUMN_NAME']+') std  from health_salary;',
                    'query_max_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') max_chars FROM health_salary ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') DESC LIMIT 1;',
                    'query_min_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') min_chars FROM health_salary ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') ASC LIMIT 1;',
                    'query_nulos' : 'select count(*) nulos FROM health_salary WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_nulos_porcentagem' : 'select count(*) /(select count(*) FROM health_salary )*100 porcentagem FROM health_salary WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_qtd_grupos' : 'select ifnull(count(*),0) qtd_grupos from (select '+row['COLUMN_NAME']+' from health_salary group by '+row['COLUMN_NAME']+') qtd_agrupada',
                    'query_grupos_top_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_salary group by '+row['COLUMN_NAME']+' order by qtd desc limit 10',
                    'query_grupos_bottom_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_salary group by '+row['COLUMN_NAME']+' order by qtd asc limit 10'  
                   }
                  )

time: 10.9 ms

In [46]:
colunas_analise_top = {}
colunas_iterar = ['coluna','query_avg','query_min','query_max','query_variance','query_std','query_max_chars','query_min_chars','query_nulos','query_nulos_porcentagem','query_qtd_grupos','query_grupos_top_10','query_grupos_bottom_10']
df = pd.DataFrame(colunas, columns = colunas_iterar)
for index, row in df.iterrows():
    retorno_coluna_querys = []
    for i in colunas_iterar: 
        if i != 'coluna' :
            retorno_query = pd.read_sql_query(row[i], engine)
            if i == 'query_grupos_top_10' or i == 'query_grupos_bottom_10' :
                retorno_coluna_querys.append(retorno_query)
            else :
                retorno_coluna_querys.append(retorno_query.iloc[0][0])
    colunas_analise_top[row['coluna']] = retorno_coluna_querys

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Abbotsford-Mission, British Columbia'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2006S0504446'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Both sexes'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '0 to 24 years'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5-year percent change of median income'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Dollars'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'units '")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082935'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082936'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082937'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082938'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082939'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082940'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082941'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082942'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082943'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082944'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082945'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082946'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082947'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082948'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082949'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082950'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082951'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082952'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082953'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082954'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082955'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082956'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082957'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082958'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082959'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082960'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082961'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082962'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082963'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082964'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082965'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v1000082966'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.11'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: ''")
  result = self._query(query)

time: 31.7 s

In [47]:
colunas_analise_top

print("Qtd de registros: "+str(qtd_registros))
# Creates pandas DataFrame. 
x = pd.DataFrame(colunas_analise_top, index =[ 'avg', 'min', 'max','variance','std','max_chars','min_chars','nulos ou vazios','porcentagem nulos e vazios','quantidade agrupada','grupos_top_10','grupos_bottom_10']) 
x

Qtd de registros: 653748

,`REF_DATE`,`GEO`,`DGUID`,`Sex`,`Age group`,`Persons with income`,`UOM`,`UOM_ID`,`SCALAR_FACTOR`,`SCALAR_ID`,`VECTOR`,`COORDINATE`,`VALUE`,`STATUS`,`SYMBOL`,`TERMINATED`,`DECIMALS`
avg,2010.95,0,3312.62,0,32.6016,0.0068375,0,221.488,0,0,0,79.4512,44774.8,0,0,0,0
min,2000,"Abbotsford-Mission, British Columbia",10000,Both sexes,0 to 24 years,5-year percent change of median income,Dollars,223,units,0,v1000082935,1.1.1.1,,,,,0
max,2017,Yukon,61B00,Males,All age groups,Total persons with income,Percent,81,units,0,v87004276,99.3.9.9,99970,x,,t,0
variance,19.5155,0,5.11145e+07,0,585.613,0.0341407,0,215.882,0,0,0,3033.12,1.55586e+11,0,0,0,0
std,4.41764,0,7149.44,0,24.1995,0.184772,0,14.6929,0,0,0,55.0737,394444,0,0,0,0
max_chars,4,46,14,10,17,40,7,3,6,1,11,10,8,2,0,1,1
min_chars,4,5,5,5,13,19,6,2,6,1,9,7,0,0,0,0,1
nulos ou vazios,0,0,0,0,0,0,0,0,0,0,0,0,54691,599057,653748,618318,0
porcentagem nulos e vazios,0,0,0,0,0,0,0,0,0,0,0,0,8.3658,91.6342,100,94.5805,0
quantidade agrupada,18,191,191,3,9,16,3,3,1,1,61023,61023,36769,3,1,2,1
grupos_top_10,qtd REF_DATE 0 55242 2016 1 55242 ...,qtd GEO 0 5661 ...,qtd DGUID 0 5661 2016A00024...,qtd Sex 0 217916 Males 1 ...,qtd Age group 0 97824 All a...,qtd Persons with in...,qtd UOM 0 645792 Number 1 706...,qtd UOM_ID 0 645792 223 1 7062 ...,qtd SCALAR_FACTOR 0 653748 units,qtd SCALAR_ID 0 653748 0,qtd VECTOR 0 18 v20794632 1 18 v2...,qtd COORDINATE 0 18 19.3.2.9 1 18 27...,qtd VALUE 0 54691 1 17723 20 2...,qtd STATUS 0 599057 1 54091 ...,qtd SYMBOL 0 653748,qtd TERMINATED 0 618318 1 ...,qtd DECIMALS 0 653748 0
grupos_bottom_10,qtd REF_DATE 0 13680 2000 1 14256 ...,qtd GEO 0 ...,qtd DGUID 0 594 2016S0504509 1 ...,qtd Sex 0 217916 Males 1 ...,qtd Age group 0 12516 75 years...,qtd Persons with in...,qtd UOM 0 894 Percent 1 706...,qtd UOM_ID 0 894 239 1 7062 ...,qtd SCALAR_FACTOR 0 653748 units,qtd SCALAR_ID 0 653748 0,qtd VECTOR 0 1 v42203954 1 1 v4...,qtd COORDINATE 0 1 46.3.8.9 1 1 4...,qtd VALUE 0 1 1481240 1 1 18881...,qtd STATUS 0 600 .. 1 54091 ...,qtd SYMBOL 0 653748,qtd TERMINATED 0 35430 t 1 6...,qtd DECIMALS 0 653748 0

time: 62 ms

In [48]:
colunas_tabela = pd.read_sql_query("select count(*) qtd,geo from health_salary where geo like '%%Toronto%%' or geo like '%%toronto%%' group by geo;", engine)
colunas_tabela.head()

    qtd               geo
0  5661  Toronto, Ontario

time: 767 ms

In [49]:
toronto =  data.query('GEO.str.contains("Toronto") or GEO.str.contains("toronto")')

time: 334 ms

In [50]:
toronto.shape

(5661, 17)

time: 1.18 ms

In [51]:
toronto.to_csv('11100008-eng/toronto.csv', encoding='utf-8', index=False)

time: 36.1 ms

In [52]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_salary_toronto''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_salary_toronto'")
  result = self._query(query)

time: 2.65 ms

In [53]:
engine.execute(sa_text('''CREATE TABLE IF NOT EXISTS health_salary_toronto LIKE health_salary''').execution_options(autocommit=True))

time: 69.1 ms

In [54]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/11100008-eng/toronto.csv'  INTO TABLE pos.health_salary_toronto  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 330 ms

In [55]:
colunas_tabela = pd.read_sql_query("SELECT concat('`',COLUMN_NAME,'`') COLUMN_NAME FROM information_schema.columns WHERE  table_name='health_salary_toronto'", engine)

time: 2.09 ms

In [56]:
colunas = []

for index, row in colunas_tabela.iterrows():
    colunas.append({'coluna' : row['COLUMN_NAME'],
                    'query_avg' : 'select avg('+row['COLUMN_NAME']+') avg  from health_salary_toronto;',
                    'query_min' : 'select min('+row['COLUMN_NAME']+') min  from health_salary_toronto;',
                    'query_max' : 'select max('+row['COLUMN_NAME']+') max  from health_salary_toronto;',
                    'query_variance' : 'select variance('+row['COLUMN_NAME']+') variance  from health_salary_toronto;',
                    'query_std' : 'select std('+row['COLUMN_NAME']+') std  from health_salary_toronto;',
                    'query_max_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') max_chars FROM health_salary_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') DESC LIMIT 1;',
                    'query_min_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') min_chars FROM health_salary_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') ASC LIMIT 1;',
                    'query_nulos' : 'select count(*) nulos FROM health_salary_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_nulos_porcentagem' : 'select count(*) /(select count(*) FROM health_salary_toronto )*100 porcentagem FROM health_salary_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_qtd_grupos' : 'select ifnull(count(*),0) qtd_grupos from (select '+row['COLUMN_NAME']+' from health_salary_toronto group by '+row['COLUMN_NAME']+') qtd_agrupada',
                    'query_grupos_top_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_salary_toronto group by '+row['COLUMN_NAME']+' order by qtd desc limit 10',
                    'query_grupos_bottom_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_salary_toronto group by '+row['COLUMN_NAME']+' order by qtd asc limit 10'  
                   }
                  )

time: 7.8 ms

In [57]:
#qtd registros

qtd_registros = pd.read_sql_query('select count(*) from health_salary_toronto', engine)
qtd_registros = qtd_registros.iloc[0][0]

time: 16.1 ms

In [58]:
colunas_analise_top = {}
colunas_iterar = ['coluna','query_avg','query_min','query_max','query_variance','query_std','query_max_chars','query_min_chars','query_nulos','query_nulos_porcentagem','query_qtd_grupos','query_grupos_top_10','query_grupos_bottom_10']
df = pd.DataFrame(colunas, columns = colunas_iterar)
for index, row in df.iterrows():
    retorno_coluna_querys = []
    for i in colunas_iterar: 
        if i != 'coluna' :
            retorno_query = pd.read_sql_query(row[i], engine)
            if i == 'query_grupos_top_10' or i == 'query_grupos_bottom_10' :
                retorno_coluna_querys.append(retorno_query)
            else :
                retorno_coluna_querys.append(retorno_query.iloc[0][0])
    colunas_analise_top[row['coluna']] = retorno_coluna_querys

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Toronto, Ontario'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2016S0503535'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Both sexes'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '0 to 24 years'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5-year percent change of median income'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Median total income'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Dollars'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Number'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'units '")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v20797165'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v20797166'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v20797167'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v20797168'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '19.1.1.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '19.1.1.10'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '19.1.1.11'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '19.1.1.12'")
  result = self._query(query)

time: 686 ms

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: ''")
  result = self._query(query)

In [59]:
colunas_analise_top
print("Qtd de registros: "+str(qtd_registros))
# Creates pandas DataFrame. 
x = pd.DataFrame(colunas_analise_top, index =[ 'avg', 'min', 'max','variance','std','max_chars','min_chars','nulos ou vazios','porcentagem nulos e vazios','quantidade agrupada','grupos_top_10','grupos_bottom_10']) 
x

Qtd de registros: 5661

,`REF_DATE`,`GEO`,`DGUID`,`Sex`,`Age group`,`Persons with income`,`UOM`,`UOM_ID`,`SCALAR_FACTOR`,`SCALAR_ID`,`VECTOR`,`COORDINATE`,`VALUE`,`STATUS`,`SYMBOL`,`TERMINATED`,`DECIMALS`
avg,2008.19,0,2016,0,33.9428,0.018548,0,221.705,0,0,0,19.2,287442,0,0,0,0
min,2000,"Toronto, Ontario",2016S0503535,Both sexes,0 to 24 years,5-year percent change of median income,Dollars,223,units,0,v20797165,19.1.1.1,0.0,,,,0
max,2017,"Toronto, Ontario",2016S0503535,Males,All age groups,Total persons with income,Percent,81,units,0,v52350843,19.3.9.9,9990.0,,,t,0
variance,27.2311,0,0,0,625.711,0.0923958,0,191.616,0,0,0,0.00666667,2.76894e+11,0,0,0,0
std,5.21834,0,0,0,25.0142,0.303967,0,13.8425,0,0,0,0.0816497,526208,0,0,0,0
max_chars,4,16,12,10,17,40,7,3,6,1,9,9,9,0,0,1,1
min_chars,4,16,12,5,13,19,6,2,6,1,9,8,3,0,0,0,1
nulos ou vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,5661,5661,5052,0
porcentagem nulos e vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,100,100,89.2422,0
quantidade agrupada,18,1,1,3,9,16,3,3,1,1,384,384,4968,1,1,2,1
grupos_top_10,qtd REF_DATE 0 342 2005 1 342 200...,"qtd GEO 0 5661 Toronto, On...",qtd DGUID 0 5661 2016S0503535,qtd Sex 0 1887 Both sexes 1 188...,qtd Age group 0 831 All age g...,qtd Persons with inco...,qtd UOM 0 5586 Number 1 54 Dol...,qtd UOM_ID 0 5586 223 1 54 81 2...,qtd SCALAR_FACTOR 0 5661 units,qtd SCALAR_ID 0 5661 0,qtd VECTOR 0 18 v20797425 1 18 v2...,qtd COORDINATE 0 18 19.3.1.2 1 18 1...,qtd VALUE 0 25 40.0 1 15 70.0 2 ...,qtd STATUS 0 5661,qtd SYMBOL 0 5661,qtd TERMINATED 0 5052 1 609 ...,qtd DECIMALS 0 5661 0
grupos_bottom_10,qtd REF_DATE 0 297 2016 1 297 201...,"qtd GEO 0 5661 Toronto, On...",qtd DGUID 0 5661 2016S0503535,qtd Sex 0 1887 Both sexes 1 188...,qtd Age group 0 294 75 years and...,qtd Persons with inco...,qtd UOM 0 21 Percent 1 54 Dol...,qtd UOM_ID 0 21 239 1 54 81 2...,qtd SCALAR_FACTOR 0 5661 units,qtd SCALAR_ID 0 5661 0,qtd VECTOR 0 7 v20797533 1 7 v2...,qtd COORDINATE 0 7 19.2.8.13 1 7 19...,qtd VALUE 0 1 222880.0 1 1 1161...,qtd STATUS 0 5661,qtd SYMBOL 0 5661,qtd TERMINATED 0 609 t 1 5052 ...,qtd DECIMALS 0 5661 0

time: 60.6 ms

In [60]:
engine.execute(sa_text("""
alter table health_salary_toronto
  drop UOM_ID,  drop SCALAR_FACTOR, drop SCALAR_ID, drop VECTOR, drop COORDINATE,drop SYMBOL,
drop `TERMINATED`,drop `DECIMALS`,drop DGUID;""").execution_options(autocommit=True))

engine.execute(sa_text("""delete from  health_salary_toronto where `Sex` = 'Both sexes';""").execution_options(autocommit=True))

engine.execute(sa_text("""delete from  health_salary_toronto where `Age group` = 'All age groups';""").execution_options(autocommit=True))

engine.execute(sa_text("""delete from  health_salary_toronto where `Persons with income` in ( 'Total persons with income','5-year percent change of median income','Median total income');

""").execution_options(autocommit=True))

time: 507 ms

In [61]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_salary_toronto_year_group''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_salary_toronto_year_group'")
  result = self._query(query)

time: 3.12 ms

In [62]:

engine.execute(sa_text("""create table health_salary_toronto_year_group
select '2007/2008' `REF_DATE`,GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto  where REF_DATE in (2007,2008)
group by GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert  health_salary_toronto_year_group
select '2009/2010' `REF_DATE`,GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto  where REF_DATE in (2009,2010)
group by GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert  health_salary_toronto_year_group
select '2011/2012' `REF_DATE`,GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto  where REF_DATE in (2011,2012)
group by GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,`Status`;""").execution_options(autocommit=True))

engine.execute(sa_text("""insert  health_salary_toronto_year_group
select '2013/2014' `REF_DATE`,GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto  where REF_DATE in (2011,2012)
group by GEO,`Sex`,`Age group`,`Persons with income`,`UOM`,`Status`;""").execution_options(autocommit=True))

time: 77.7 ms

In [63]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_salary_toronto_age_group''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_salary_toronto_age_group'")
  result = self._query(query)

time: 3.2 ms

In [64]:

engine.execute(sa_text("""create table health_salary_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'65 years and over' `Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto_year_group 
where  `Age group` in ('65 years and over','65 to 74 years (Terminated)','75 years and over (Terminated)')
group by GEO,`Sex`,`Persons with income`,`UOM`,`Status`,`REF_DATE`""").execution_options(autocommit=True))



engine.execute(sa_text(""" insert health_salary_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'12 to 19 years' `Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto_year_group 
where  `Age group` in ('0 to 24 years')
group by GEO,`Sex`,`Persons with income`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))


engine.execute(sa_text("""insert health_salary_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'25 to 34 years' `Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto_year_group 
where  `Age group` in ('25 to 34 years')
group by GEO,`Sex`,`Persons with income`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))


engine.execute(sa_text("""insert health_salary_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'35 to 44 years'`Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto_year_group 
where  `Age group` in ('35 to 44 years')
group by GEO,`Sex`,`Persons with income`,`UOM`,`Status`,`REF_DATE`;""").execution_options(autocommit=True))


engine.execute(sa_text("""insert health_salary_toronto_age_group
select `REF_DATE`,GEO,`Sex`,'45 to 64 years' `Age group`,`Persons with income`,`UOM`,sum(value) VALUE,`Status` from health_salary_toronto_year_group 
where  `Age group` in ('45 to 54 years','55 to 64 years')
group by GEO,`Sex`,`Persons with income`,`UOM`,`Status`,`REF_DATE`""").execution_options(autocommit=True))

time: 89.9 ms

In [65]:
colunas_tabela = pd.read_sql_query("""select * from health_salary_toronto_age_group""", engine)

time: 30.6 ms

In [66]:
pivot = pd.pivot_table(colunas_tabela,
        values='VALUE', 
        index=['Age group','REF_DATE','Sex'], 
        columns='Persons with income', 
        aggfunc=np.sum)

time: 14.3 ms

In [67]:
flattened = pd.DataFrame(pivot.to_records())

time: 2.99 ms

In [68]:
flattened.to_csv('11100008-eng/toronto_pivot.csv', encoding='utf-8', index=False)

time: 3.22 ms

In [69]:
measurer = np.vectorize(len)
res1 = dict(zip(flattened, measurer(flattened.values.astype(str)).max(axis=0)))

time: 4.01 ms

In [70]:
res1

{'Age group': 17,
 'Persons with income of $10,000 and over': 9,
 'Persons with income of $100,000 and over': 8,
 'Persons with income of $15,000 and over': 9,
 'Persons with income of $150,000 and over': 8,
 'Persons with income of $20,000 and over': 9,
 'Persons with income of $200,000 and over': 7,
 'Persons with income of $25,000 and over': 8,
 'Persons with income of $250,000 and over': 7,
 'Persons with income of $35,000 and over': 8,
 'Persons with income of $5,000 and over': 9,
 'Persons with income of $50,000 and over': 8,
 'Persons with income of $75,000 and over': 8,
 'Persons with income under $5,000': 8,
 'REF_DATE': 9,
 'Sex': 7}

time: 2.22 ms

In [71]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_salary_toronto_age_group_pivot''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_salary_toronto_age_group_pivot'")
  result = self._query(query)

time: 3.17 ms

In [72]:
query = """CREATE TABLE `health_salary_toronto_age_group_pivot` (
  `Age group` varchar(17) DEFAULT NULL,
  `REF_DATE` varchar(9) DEFAULT NULL,
  `Sex` varchar(7) DEFAULT NULL,
  `Persons with income under $5,000` varchar(10) DEFAULT NULL,
  `Persons with income of $5,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $10,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $15,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $20,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $25,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $35,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $50,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $75,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $100,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $150,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $200,000 and over` varchar(10) DEFAULT NULL,
  `Persons with income of $250,000 and over` varchar(10) DEFAULT NULL,
  KEY `Age group` (`Age group`),
  KEY `REF_DATE` (`REF_DATE`),
  KEY `Sex` (`Sex`),
  KEY `Persons with income of $10,000 and over` (`Persons with income of $10,000 and over`),
  KEY `Persons with income of $100,000 and over` (`Persons with income of $100,000 and over`),
  KEY `Persons with income of $15,000 and over` (`Persons with income of $15,000 and over`),
  KEY `Persons with income of $150,000 and over` (`Persons with income of $150,000 and over`),
  KEY `Persons with income of $20,000 and over` (`Persons with income of $20,000 and over`),
  KEY `Persons with income of $200,000 and over` (`Persons with income of $200,000 and over`),
  KEY `Persons with income of $25,000 and over` (`Persons with income of $25,000 and over`),
  KEY `Persons with income of $250,000 and over` (`Persons with income of $250,000 and over`),
  KEY `Persons with income of $35,000 and over` (`Persons with income of $35,000 and over`),
  KEY `Persons with income of $5,000 and over` (`Persons with income of $5,000 and over`),
  KEY `Persons with income of $50,000 and over` (`Persons with income of $50,000 and over`),
  KEY `Persons with income of $75,000 and over` (`Persons with income of $75,000 and over`),
  KEY `Persons with income under $5,000` (`Persons with income under $5,000`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;""";

time: 2.34 ms

In [73]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 53.6 ms

In [74]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/11100008-eng/toronto_pivot.csv'  INTO TABLE pos.health_salary_toronto_age_group_pivot  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 6.92 ms

# Healths Indicators

https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310045201

In [75]:
data = pd.read_csv("13100452-eng/13100452.csv")

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time: 7.79 s

In [76]:
data.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Indicators,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2007/2008,Canada,0,"Total, 12 years and over",Both sexes,"Perceived health, very good or excellent",Number of persons,Number,223,units,0,v42924511,1.1.1.1.1,16596985.0,NaN,NaN,NaN,0
1,2007/2008,Canada,0,"Total, 12 years and over",Both sexes,"Perceived health, very good or excellent","Low 95% confidence interval, number of persons",Number,223,units,0,v42924512,1.1.1.1.2,16466942.0,NaN,NaN,NaN,0
2,2007/2008,Canada,0,"Total, 12 years and over",Both sexes,"Perceived health, very good or excellent","High 95% confidence interval, number of persons",Number,223,units,0,v42924513,1.1.1.1.3,16727027.0,NaN,NaN,NaN,0
3,2007/2008,Canada,0,"Total, 12 years and over",Both sexes,"Perceived health, very good or excellent",Percent,Percent,239,units,0,v42924515,1.1.1.1.5,59.3,NaN,NaN,NaN,1
4,2007/2008,Canada,0,"Total, 12 years and over",Both sexes,"Perceived health, very good or excellent","Low 95% confidence interval, percent",Percent,239,units,0,v42924516,1.1.1.1.6,58.8,NaN,NaN,NaN,1

time: 9.43 ms

In [77]:
data.shape

(3974916, 18)

time: 3.86 ms

In [78]:
data.dtypes

REF_DATE            object
GEO                 object
DGUID               object
Age group           object
Sex                 object
Indicators          object
Characteristics     object
UOM                 object
UOM_ID               int64
SCALAR_FACTOR       object
SCALAR_ID            int64
VECTOR              object
COORDINATE          object
VALUE              float64
STATUS              object
SYMBOL              object
TERMINATED          object
DECIMALS             int64
dtype: object

time: 2.84 ms

In [79]:
#measurer = np.vectorize(len)
#res1 = dict(zip(data, measurer(data.values.astype(str)).max(axis=0)))

time: 1.57 ms

In [80]:
#res1

time: 1.66 ms

In [81]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char'")
  result = self._query(query)

time: 3.19 ms

In [82]:
query = """CREATE TABLE `health_char` (
  `REF_DATE` varchar(9) DEFAULT NULL,
  `GEO` varchar(81) DEFAULT NULL,
  `DGUID` varchar(6) DEFAULT NULL,
  `Age group` varchar(24) DEFAULT NULL,
  `Sex` varchar(10) DEFAULT NULL,
  `Indicators` varchar(81) DEFAULT NULL,
  `Characteristics` varchar(54) DEFAULT NULL,
  `UOM` varchar(7) DEFAULT NULL,
  `UOM_ID` varchar(3) DEFAULT NULL,
  `SCALAR_FACTOR` varchar(6) DEFAULT NULL,
  `SCALAR_ID` varchar(1) DEFAULT NULL,
  `VECTOR` varchar(9) DEFAULT NULL,
  `COORDINATE` varchar(13) DEFAULT NULL,
  `VALUE` varchar(10) DEFAULT NULL,
  `STATUS` varchar(3) DEFAULT NULL,
  `SYMBOL` varchar(3) DEFAULT NULL,
  `TERMINATED` varchar(3) DEFAULT NULL,
  `DECIMALS` varchar(1) DEFAULT NULL,
  KEY `REF_DATA_id` (`REF_DATE`),
  KEY `GEO_id` (`GEO`),
  KEY `DGUID` (`DGUID`),
  KEY `Age group` (`Age group`),
  KEY `Sex` (`Sex`),
  KEY `Indicators` (`Indicators`),
  KEY `Characteristics` (`Characteristics`),
  KEY `UOM` (`UOM`),
  KEY `UOM_ID` (`UOM_ID`),
  KEY `SCALAR_FACTOR` (`SCALAR_FACTOR`),
  KEY `SCALAR_ID` (`SCALAR_ID`),
  KEY `VECTOR` (`VECTOR`),
  KEY `COORDINATE` (`COORDINATE`),
  KEY `VALUE` (`VALUE`),
  KEY `STATUS` (`STATUS`),
  KEY `SYMBOL` (`SYMBOL`),
  KEY `TERMINATED` (`TERMINATED`),
  KEY `DECIMALS` (`DECIMALS`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""

time: 2.26 ms

In [83]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 48 ms

In [84]:
query = """
LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/13100452-eng/13100452.csv' 
INTO TABLE pos.health_char
FIELDS TERMINATED BY ','
ENCLOSED BY '\"' IGNORE 1 LINES"""

time: 712 Âµs

In [85]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 3min 13s

In [86]:
#qtd registros

qtd_registros = pd.read_sql_query('select count(*) from health_char', engine)
qtd_registros = qtd_registros.iloc[0][0]

time: 951 ms

In [87]:
colunas_tabela = pd.read_sql_query("SELECT concat('`',COLUMN_NAME,'`') COLUMN_NAME FROM information_schema.columns WHERE  table_name='health_char'", engine)

time: 2.07 ms

In [88]:
colunas = []

for index, row in colunas_tabela.iterrows():
    colunas.append({'coluna' : row['COLUMN_NAME'],
                    'query_avg' : 'select avg('+row['COLUMN_NAME']+') avg  from health_char;',
                    'query_min' : 'select min('+row['COLUMN_NAME']+') min  from health_char;',
                    'query_max' : 'select max('+row['COLUMN_NAME']+') max  from health_char;',
                    'query_variance' : 'select variance('+row['COLUMN_NAME']+') variance  from health_char;',
                    'query_std' : 'select std('+row['COLUMN_NAME']+') std  from health_char;',
                    'query_max_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') max_chars FROM health_char ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') DESC LIMIT 1;',
                    'query_min_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') min_chars FROM health_char ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') ASC LIMIT 1;',
                    'query_nulos' : 'select count(*) nulos FROM health_char WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_nulos_porcentagem' : 'select count(*) /(select count(*) FROM health_char )*100 porcentagem FROM health_char WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_qtd_grupos' : 'select ifnull(count(*),0) qtd_grupos from (select '+row['COLUMN_NAME']+' from health_char group by '+row['COLUMN_NAME']+') qtd_agrupada',
                    'query_grupos_top_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char group by '+row['COLUMN_NAME']+' order by qtd desc limit 10',
                    'query_grupos_bottom_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char group by '+row['COLUMN_NAME']+' order by qtd asc limit 10'  
                   }
                  )

time: 8.01 ms

In [89]:
colunas_analise_top = {}
colunas_iterar = ['coluna','query_avg','query_min','query_max','query_variance','query_std','query_max_chars','query_min_chars','query_nulos','query_nulos_porcentagem','query_qtd_grupos','query_grupos_top_10','query_grupos_bottom_10']
df = pd.DataFrame(colunas, columns = colunas_iterar)
for index, row in df.iterrows():
    retorno_coluna_querys = []
    for i in colunas_iterar: 
        if i != 'coluna' :
            retorno_query = pd.read_sql_query(row[i], engine)
            if i == 'query_grupos_top_10' or i == 'query_grupos_bottom_10' :
                retorno_coluna_querys.append(retorno_query)
            else :
                retorno_coluna_querys.append(retorno_query.iloc[0][0])
    colunas_analise_top[row['coluna']] = retorno_coluna_querys

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2007/2008'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Alberta'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1011-C'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '12 to 19 years'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Both sexes'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5 or more drinks on one occasion, at least once a month in the past year'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'High 95% confidence interval, number of persons'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Number'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'units '")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924511'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924512'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924513'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924515'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924516'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924517'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924519'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924520'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924521'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924522'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924524'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924525'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924526'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924528'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924529'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42924530'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.3'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.5'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.6'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.1.7'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.3'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.5'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.6'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.10.7'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.13.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '1.1.1.13.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: ''")
  result = self._query(query)

time: 5min 16s

In [90]:
colunas_analise_top

print("Qtd de registros: "+str(qtd_registros))
# Creates pandas DataFrame. 
x = pd.DataFrame(colunas_analise_top, index =[ 'avg', 'min', 'max','variance','std','max_chars','min_chars','nulos ou vazios','porcentagem nulos e vazios','quantidade agrupada','grupos_top_10','grupos_bottom_10']) 
x

Qtd de registros: 3974916

,`REF_DATE`,`GEO`,`DGUID`,`Age group`,`Sex`,`Indicators`,`Characteristics`,`UOM`,`UOM_ID`,`SCALAR_FACTOR`,`SCALAR_ID`,`VECTOR`,`COORDINATE`,`VALUE`,`STATUS`,`SYMBOL`,`TERMINATED`,`DECIMALS`
avg,2010.05,0,3266.68,29.1049,0,0.10264,0,0,228.122,0,0,0,101.099,14432.1,0,0,0,0.320134
min,2007/2008,Alberta,0,12 to 19 years,Both sexes,"5 or more drinks on one occasion, at least onc...","High 95% confidence interval, number of persons",Number,223,units,0,v42924511,1.1.1.1.1,,,,,0
max,2013/2014,"Zone 7 (Miramichi area), New Brunswick",J,"Total, 12 years and over",Males,"Wears a helmet when riding a bicycle, always",Statistically different from the provincial rate,Percent,239,units,0,v96355340,99.6.3.9.9,99995,F,r,t,1
variance,4.84745,0,3.49033e+06,462.968,0,0.502665,0,0,55.7179,0,0,0,2972.16,3.46864e+10,0,0,0,0.217648
std,2.20169,0,1868.24,21.5167,0,0.708988,0,0,7.46444,0,0,0,54.5175,186243,0,0,0,0.466528
max_chars,9,81,6,24,10,81,54,7,3,6,1,9,13,8,2,1,1,1
min_chars,9,5,1,14,5,6,7,6,3,6,1,9,9,0,0,0,0,1
nulos ou vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,1377169,1686807,3969402,3649092,0
porcentagem nulos e vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,34.6465,42.4363,99.8613,91.803,0
quantidade agrupada,4,169,172,6,3,40,10,2,2,1,1,1151759,1151759,159117,4,2,2,2
grupos_top_10,qtd REF_DATE 0 1043363 2009/2010 1 ...,qtd ...,qtd DGUID 0 38090 35 1 27453 ...,qtd Age group 0 679570 ...,qtd Sex 0 1344856 Females ...,qtd ...,qtd C...,qtd UOM 0 2702412 Number 1 127...,qtd UOM_ID 0 2702412 223 1 1272504...,qtd SCALAR_FACTOR 0 3974916 units,qtd SCALAR_ID 0 3974916 0,qtd VECTOR 0 4 v42924524 1 4 v4...,qtd COORDINATE 0 4 99.6.3.9.9 1 4...,qtd VALUE 0 1377169 1 770861 ...,qtd STATUS 0 1686807 1 1058069...,qtd SYMBOL 0 3969402 1 5514...,qtd TERMINATED 0 3649092 1 ...,qtd DECIMALS 0 2702412 0 1 127...
grupos_bottom_10,qtd REF_DATE 0 919751 2007/2008 1 ...,qtd ...,qtd DGUID 0 12886 4620-D 1 12886 48...,qtd Age group 0 638077 ...,qtd Sex 0 1285392 Males ...,qtd ...,qtd C...,qtd UOM 0 1272504 Percent 1 270...,qtd UOM_ID 0 1272504 239 1 2702412...,qtd SCALAR_FACTOR 0 3974916 units,qtd SCALAR_ID 0 3974916 0,qtd VECTOR 0 1 v53869202 1 1 v5...,qtd COORDINATE 0 1 109.1.1.46.2 1 ...,qtd VALUE 0 1 103586 1 1 109722...,qtd STATUS 0 319100 .. 1 910940...,qtd SYMBOL 0 5514 r 1 3969402...,qtd TERMINATED 0 325824 t 1 ...,qtd DECIMALS 0 1272504 1 1 270...

time: 63.1 ms

In [91]:
colunas_tabela = pd.read_sql_query("select count(*) qtd,geo from health_char where geo like '%%Toronto%%' or geo like '%%toronto%%' group by geo;", engine)
colunas_tabela.head()

     qtd                                                geo
0  26186               City of Toronto Health Unit, Ontario
1  19758  Toronto Central Health Integration Network, On...

time: 4.51 s

In [92]:
toronto =  data.query('GEO.str.contains("Toronto") or GEO.str.contains("toronto")')

time: 2.06 s

In [93]:
toronto.shape

(45944, 18)

time: 1.41 ms

In [94]:
toronto.to_csv('13100452-eng/toronto.csv', encoding='utf-8', index=False)

time: 282 ms

In [95]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char_toronto''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_toronto'")
  result = self._query(query)

time: 1.94 ms

In [96]:
engine.execute(sa_text('''CREATE TABLE IF NOT EXISTS health_char_toronto LIKE health_char''').execution_options(autocommit=True))

time: 65.7 ms

In [97]:
engine.execute(sa_text('''TRUNCATE health_char_toronto''').execution_options(autocommit=True))

time: 88 ms

In [98]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/13100452-eng/toronto.csv'  INTO TABLE pos.health_char_toronto  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 1.42 s

In [99]:
colunas_tabela = pd.read_sql_query("SELECT concat('`',COLUMN_NAME,'`') COLUMN_NAME FROM information_schema.columns WHERE  table_name='health_char_toronto'", engine)

time: 2.64 ms

In [100]:
colunas = []

for index, row in colunas_tabela.iterrows():
    colunas.append({'coluna' : row['COLUMN_NAME'],
                    'query_avg' : 'select avg('+row['COLUMN_NAME']+') avg  from health_char_toronto;',
                    'query_min' : 'select min('+row['COLUMN_NAME']+') min  from health_char_toronto;',
                    'query_max' : 'select max('+row['COLUMN_NAME']+') max  from health_char_toronto;',
                    'query_variance' : 'select variance('+row['COLUMN_NAME']+') variance  from health_char_toronto;',
                    'query_std' : 'select std('+row['COLUMN_NAME']+') std  from health_char_toronto;',
                    'query_max_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') max_chars FROM health_char_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') DESC LIMIT 1;',
                    'query_min_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') min_chars FROM health_char_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') ASC LIMIT 1;',
                    'query_nulos' : 'select count(*) nulos FROM health_char_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_nulos_porcentagem' : 'select count(*) /(select count(*) FROM health_char_toronto )*100 porcentagem FROM health_char_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_qtd_grupos' : 'select ifnull(count(*),0) qtd_grupos from (select '+row['COLUMN_NAME']+' from health_char_toronto group by '+row['COLUMN_NAME']+') qtd_agrupada',
                    'query_grupos_top_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char_toronto group by '+row['COLUMN_NAME']+' order by qtd desc limit 10',
                    'query_grupos_bottom_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char_toronto group by '+row['COLUMN_NAME']+' order by qtd asc limit 10'  
                   }
                  )

time: 8.61 ms

In [101]:
#qtd registros

qtd_registros = pd.read_sql_query('select count(*) from health_char_toronto', engine)
qtd_registros = qtd_registros.iloc[0][0]

time: 13.2 ms

In [102]:
colunas_analise_top = {}
colunas_iterar = ['coluna','query_avg','query_min','query_max','query_variance','query_std','query_max_chars','query_min_chars','query_nulos','query_nulos_porcentagem','query_qtd_grupos','query_grupos_top_10','query_grupos_bottom_10']
df = pd.DataFrame(colunas, columns = colunas_iterar)
for index, row in df.iterrows():
    retorno_coluna_querys = []
    for i in colunas_iterar: 
        if i != 'coluna' :
            retorno_query = pd.read_sql_query(row[i], engine)
            if i == 'query_grupos_top_10' or i == 'query_grupos_bottom_10' :
                retorno_coluna_querys.append(retorno_query)
            else :
                retorno_coluna_querys.append(retorno_query.iloc[0][0])
    colunas_analise_top[row['coluna']] = retorno_coluna_querys

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2007/2008'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'City of Toronto Health Unit, Ontario'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '3595-G'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '12 to 19 years'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Both sexes'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5 or more drinks on one occasion, at least once a month in the past year'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'High 95% confidence interval, number of persons'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Number'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'units '")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938686'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938687'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938688'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938690'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938691'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938692'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938694'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938695'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938696'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938697'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938698'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938699'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938701'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938702'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938703'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938705'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938706'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938707'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938708'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v42938709'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.10'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.11'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.3'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.5'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.6'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.7'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.1.9'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.10'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.11'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.12'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '107.1.1.10.3'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: ''")
  result = self._query(query)

time: 2.37 s

In [103]:
colunas_analise_top
print("Qtd de registros: "+str(qtd_registros))
# Creates pandas DataFrame. 
x = pd.DataFrame(colunas_analise_top, index =[ 'avg', 'min', 'max','variance','std','max_chars','min_chars','nulos ou vazios','porcentagem nulos e vazios','quantidade agrupada','grupos_top_10','grupos_bottom_10']) 
x

Qtd de registros: 45944

,`REF_DATE`,`GEO`,`DGUID`,`Age group`,`Sex`,`Indicators`,`Characteristics`,`UOM`,`UOM_ID`,`SCALAR_FACTOR`,`SCALAR_ID`,`VECTOR`,`COORDINATE`,`VALUE`,`STATUS`,`SYMBOL`,`TERMINATED`,`DECIMALS`
avg,2010.28,0,3557.16,29.0935,0,0.0940275,0,0,228.47,0,0,0,88.4248,23478.8,0,0,0,0.341894
min,2007/2008,"City of Toronto Health Unit, Ontario",3507,12 to 19 years,Both sexes,"5 or more drinks on one occasion, at least onc...","High 95% confidence interval, number of persons",Number,223,units,0,v42938686,107.1.1.1.1,,,,,0
max,2013/2014,"Toronto Central Health Integration Network, On...",3595-G,"Total, 12 years and over",Males,"Wears a helmet when riding a bicycle, always",Statistically different from the provincial rate,Percent,239,units,0,v96337980,63.6.3.9.9,9993.0,F,r,t,1
variance,4.77949,0,1898.1,462.851,0,0.461296,0,0,57.6007,0,0,0,474.556,1.28138e+10,0,0,0,0.225003
std,2.18621,0,43.5672,21.514,0,0.679188,0,0,7.58951,0,0,0,21.7843,113198,0,0,0,0.474344
max_chars,9,51,6,24,10,81,54,7,3,6,1,9,13,9,2,1,1,1
min_chars,9,36,4,14,5,6,7,6,3,6,1,9,10,0,0,0,0,1
nulos ou vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,13311,22127,45872,45080,0
porcentagem nulos e vazios,0,0,0,0,0,0,0,0,0,0,0,0,0,28.9722,48.1608,99.8433,98.1194,0
quantidade agrupada,4,2,2,6,3,40,10,2,2,1,1,13094,13094,7368,4,2,2,2
grupos_top_10,qtd REF_DATE 0 13094 2011/2012 1 128...,qtd ...,qtd DGUID 0 26186 3595-G 1 19758 ...,qtd Age group 0 7858 Tot...,qtd Sex 0 15548 Both sexes 1 1...,qtd ...,qtd Cha...,qtd UOM 0 30236 Number 1 15708 ...,qtd UOM_ID 0 30236 223 1 15708 239,qtd SCALAR_FACTOR 0 45944 units,qtd SCALAR_ID 0 45944 0,qtd VECTOR 0 4 v47726600 1 4 v4...,qtd COORDINATE 0 4 63.3.3.1.5 1 ...,qtd VALUE 0 13311 1 10464 0.0 2...,qtd STATUS 0 22127 1 10506 ...,qtd SYMBOL 0 45872 1 72 r,qtd TERMINATED 0 45080 1 8...,qtd DECIMALS 0 30236 0 1 15708 ...
grupos_bottom_10,qtd REF_DATE 0 9344 2007/2008 1 107...,qtd ...,qtd DGUID 0 19758 3507 1 26186 35...,qtd Age group 0 7368 ...,qtd Sex 0 14848 Males 1 1...,qtd ...,qtd Cha...,qtd UOM 0 15708 Percent 1 30236 ...,qtd UOM_ID 0 15708 239 1 30236 223,qtd SCALAR_FACTOR 0 45944 units,qtd SCALAR_ID 0 45944 0,qtd VECTOR 0 2 v48526550 1 2 v4...,qtd COORDINATE 0 2 63.5.3.48.3 1 ...,qtd VALUE 0 1 26445.0 1 1 ...,qtd STATUS 0 6640 F 1 6671 ....,qtd SYMBOL 0 72 r 1 45872,qtd TERMINATED 0 864 t 1 450...,qtd DECIMALS 0 15708 1 1 30236 ...

time: 66.3 ms

In [104]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `DECIMALS`''').execution_options(autocommit=True))

time: 3.59 s

In [105]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `UOM_ID`''').execution_options(autocommit=True))

time: 2.55 s

In [106]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `COORDINATE`''').execution_options(autocommit=True))

time: 2.45 s

In [107]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `SCALAR_ID`''').execution_options(autocommit=True))

time: 2.58 s

In [108]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `SCALAR_FACTOR`''').execution_options(autocommit=True))

time: 2.46 s

In [109]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `DGUID`''').execution_options(autocommit=True))

time: 2.33 s

In [110]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `SYMBOL`''').execution_options(autocommit=True))

time: 2.17 s

In [111]:
engine.execute(sa_text('''ALTER TABLE health_char_toronto  DROP COLUMN `TERMINATED`''').execution_options(autocommit=True))

time: 2.11 s

In [112]:
colunas_tabela = pd.read_sql_query("select `STATUS`,count(*) from health_char_toronto group by `STATUS`", engine)
colunas_tabela.head(100)

  STATUS  count(*)
0            22127
1     ..      6671
2      E     10506
3      F      6640

time: 13.9 ms

In [113]:
engine.execute(sa_text("""delete from health_char_toronto where `STATUS` = '..'""").execution_options(autocommit=True))

time: 112 ms

In [114]:
colunas_tabela = pd.read_sql_query("select REF_DATE,count(*) from health_char_toronto group by REF_DATE", engine)
colunas_tabela.head(100)

    REF_DATE  count(*)
0  2007/2008      9236
1  2009/2010     10488
2  2011/2012      9172
3  2013/2014     10377

time: 19.7 ms

In [115]:
colunas_tabela = pd.read_sql_query("select `Age group`,count(*) from health_char_toronto group by `Age group`", engine)
colunas_tabela.head(100)

                  Age group  count(*)
0            12 to 19 years      6614
1            20 to 34 years      6427
2            35 to 44 years      6564
3            45 to 64 years      6572
4         65 years and over      6324
5  Total, 12 years and over      6772

time: 14.9 ms

In [116]:
colunas_tabela = pd.read_sql_query("select `Sex`,count(*) from health_char_toronto group by `Sex`", engine)
colunas_tabela.head(100)

          Sex  count(*)
0  Both sexes     13307
1     Females     13279
2       Males     12687

time: 14.7 ms

In [117]:
colunas_tabela = pd.read_sql_query("select `Indicators`,count(*) from health_char_toronto group by `Indicators`", engine)
colunas_tabela.head(100)

                                           Indicators  count(*)
0   5 or more drinks on one occasion, at least onc...       862
1                                           Arthritis      1147
2                                              Asthma      1144
3   Body mass index, self-reported, adult (18 year...      1150
4   Body mass index, self-reported, adult (18 year...      1149
5   Body mass index, self-reported, adult (18 year...      1150
6   Body mass index, self-reported, youth (12 to 1...       380
7                            Breastfeeding initiation       610
8        Chronic obstructive pulmonary disease (COPD)       551
9   Contact with a medical doctor in the past 12 m...       828
10                              Current smoker, daily      1148
11                Current smoker, daily or occasional      1150
12                                           Diabetes      1150
13         Exclusive breastfeeding, at least 6 months       606
14              Exposure to second-hand smoke at home      1147
15  Exposure to second-hand smoke in the past mont...      1146
16  Exposure to second-hand smoke in the past mont...      1145
17  Exposure to second-hand smoke in the past mont...      1147
18  Fruit and vegetable consumption, 5 times or mo...      1116
19                    Functional health, good to full       504
20                       Has a regular medical doctor      1152
21                                     Heavy drinking       263
22                                High blood pressure      1150
23     Influenza immunization, less than one year ago      1152
24  Injuries in the past 12 months causing limitat...       504
25  Injuries in the past 12 months, sought medical...       504
26     Life satisfaction, satisfied or very satisfied      1152
27                                      Mood disorder      1146
28  Pain or discomfort by severity, moderate or se...      1110
29        Pain or discomfort that prevents activities      1112
30  Participation and activity limitation, sometim...       828
31                     Perceived health, fair or poor      1145
32           Perceived health, very good or excellent      1152
33  Perceived life stress, quite a lot (15 years a...      1148
34              Perceived mental health, fair or poor      1145
35    Perceived mental health, very good or excellent      1152
36    Physical activity during leisure-time, inactive      1152
37  Physical activity during leisure-time, moderat...      1152
38  Sense of belonging to local community, somewha...      1152
39       Wears a helmet when riding a bicycle, always       772

time: 26.4 ms

In [118]:
colunas_tabela = pd.read_sql_query("select `Age group`,count(*) from health_char_toronto group by `Age group`", engine)
colunas_tabela.head(100)

                  Age group  count(*)
0            12 to 19 years      6614
1            20 to 34 years      6427
2            35 to 44 years      6564
3            45 to 64 years      6572
4         65 years and over      6324
5  Total, 12 years and over      6772

time: 13.7 ms

0-9 + 10-19 = 12 year and over + 12 to 19 years
20-44 = 20 to 34 years + 35 to 44 years
45-64 = 45 to 64 years
65-84 + 85+ = 65 years and over

In [119]:
engine.execute(sa_text("""delete from health_char_toronto where `Sex` = 'Both sexes'""").execution_options(autocommit=True))

time: 185 ms

In [120]:
engine.execute(sa_text("""delete from health_char_toronto where `Age group` = 'Total, 12 years and over'""").execution_options(autocommit=True))

time: 172 ms

In [121]:
engine.execute(sa_text("""delete from health_char_toronto where `Characteristics` != 'Number of persons';
""").execution_options(autocommit=True))

time: 369 ms

In [122]:
colunas_tabela = pd.read_sql_query("""select * from health_char_toronto""", engine)

time: 44.9 ms

In [123]:
pivot = pd.pivot_table(colunas_tabela,
        values='VALUE', 
        index=['Age group','REF_DATE','Sex'], 
        columns='Indicators', 
        aggfunc=np.sum)

time: 143 ms

In [124]:
pivot

Indicators                          5 or more drinks on one occasion, at least once a month in the past year  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                                             5375.0
                            Males                                               8966.0
                  2009/2010 Females                                            10370.0
                            Males                                               5282.0
                  2011/2012 Females
                            Males                                              10177.0
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
20 to 34 years    2007/2008 Females                                            45721.0
                            Males                                              90342.0
                  2009/2010 Females                                            42975.0
                            Males                                              80583.0
                  2011/2012 Females                                            51316.0
                            Males                                             101227.0
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
35 to 44 years    2007/2008 Females                                            11272.0
                            Males                                              36783.0
                  2009/2010 Females                                            10374.0
                            Males                                              46262.0
                  2011/2012 Females                                            14526.0
                            Males                                              40672.0
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
45 to 64 years    2007/2008 Females                                            14872.0
                            Males                                              46855.0
                  2009/2010 Females                                             6513.0
                            Males                                              53544.0
                  2011/2012 Females
                            Males                                              55601.0
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
65 years and over 2007/2008 Females
                            Males                                               8144.0
                  2009/2010 Females
                            Males                                               5115.0
                  2011/2012 Females
                            Males                                               7933.0
                  2013/2014 Females                                                NaN
                            Males                                                  NaN

Indicators                          Arthritis   Asthma  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females            10246.0
                            Males
                  2009/2010 Females             9121.0
                            Males              10840.0
                  2011/2012 Females
                            Males               8439.0
                  2013/2014 Females             8676.0
                            Males               9429.0
20 to 34 years    2007/2008 Females    8597.0  16868.0
                            Males              19111.0
                  2009/2010 Females            37864.0
                            Males              13158.0
                  2011/2012 Females            21943.0
                            Males              17227.0
                  2013/2014 Females    9579.0  22339.0
                            Males              19726.0
35 to 44 years    2007/2008 Females   11722.0  25628.0
                            Males               5542.0
                  2009/2010 Females             9701.0
                            Males     11792.0  10896.0
                  2011/2012 Females            14107.0
                            Males               9922.0
                  2013/2014 Females   16113.0  10098.0
                            Males
45 to 64 years    2007/2008 Females   76313.0  32612.0
                            Males     56812.0  18993.0
                  2009/2010 Females   79013.0  30455.0
                            Males     46494.0  18378.0
                  2011/2012 Females   83765.0  34903.0
                            Males     40937.0
                  2013/2014 Females   98464.0  27498.0
                            Males     55260.0
65 years and over 2007/2008 Females   95816.0  13317.0
                            Males     40442.0   6086.0
                  2009/2010 Females  103840.0  12175.0
                            Males     49634.0   9694.0
                  2011/2012 Females  102069.0  14657.0
                            Males     54514.0   8003.0
                  2013/2014 Females  106502.0  21480.0
                            Males     48056.0   7965.0

Indicators                          Body mass index, self-reported, adult (18 years and over), obese  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females
                            Males
                  2009/2010 Females
                            Males
                  2011/2012 Females
                            Males
                  2013/2014 Females
                            Males
20 to 34 years    2007/2008 Females                                            22002.0
                            Males                                              27233.0
                  2009/2010 Females                                            23842.0
                            Males                                              48149.0
                  2011/2012 Females                                            36316.0
                            Males                                              28343.0
                  2013/2014 Females                                            23809.0
                            Males                                              52790.0
35 to 44 years    2007/2008 Females                                            18421.0
                            Males                                              28677.0
                  2009/2010 Females                                            22104.0
                            Males                                              26820.0
                  2011/2012 Females                                            20404.0
                            Males                                              25532.0
                  2013/2014 Females                                            24929.0
                            Males                                              25071.0
45 to 64 years    2007/2008 Females                                            48682.0
                            Males                                              52018.0
                  2009/2010 Females                                            58184.0
                            Males                                              57145.0
                  2011/2012 Females                                            53543.0
                            Males                                              55851.0
                  2013/2014 Females                                            41769.0
                            Males                                              59735.0
65 years and over 2007/2008 Females                                            30290.0
                            Males                                              16022.0
                  2009/2010 Females                                            28271.0
                            Males                                              21705.0
                  2011/2012 Females                                            26662.0
                            Males                                              16896.0
                  2013/2014 Females                                            28974.0
                            Males                                              18809.0

Indicators                          Body mass index, self-reported, adult (18 years and over), overweight  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females
                            Males
                  2009/2010 Females
                            Males
                  2011/2012 Females
                            Males
                  2013/2014 Females
                            Males
20 to 34 years    2007/2008 Females                                            38103.0
                            Males                                              86281.0
                  2009/2010 Females                                            40335.0
                            Males                                              80155.0
                  2011/2012 Females                                            53359.0
                            Males                                              98456.0
                  2013/2014 Females                                            65098.0
                            Males                                             103809.0
35 to 44 years    2007/2008 Females                                            58943.0
                            Males                                              86530.0
                  2009/2010 Females                                            39992.0
                            Males                                              73872.0
                  2011/2012 Females                                            60498.0
                            Males                                              82091.0
                  2013/2014 Females                                            43073.0
                            Males                                              89930.0
45 to 64 years    2007/2008 Females                                           102751.0
                            Males                                             122845.0
                  2009/2010 Females                                            96390.0
                            Males                                             135365.0
                  2011/2012 Females                                            94299.0
                            Males                                             155698.0
                  2013/2014 Females                                           135810.0
                            Males                                             157152.0
65 years and over 2007/2008 Females                                            55598.0
                            Males                                              63151.0
                  2009/2010 Females                                            51847.0
                            Males                                              53397.0
                  2011/2012 Females                                            57810.0
                            Males                                              64745.0
                  2013/2014 Females                                            76673.0
                            Males                                              69687.0

Indicators                          Body mass index, self-reported, adult (18 years and over), overweight or obese  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females
                            Males
                  2009/2010 Females
                            Males                                               9794.0
                  2011/2012 Females
                            Males
                  2013/2014 Females
                            Males
20 to 34 years    2007/2008 Females                                            60105.0
                            Males                                             113513.0
                  2009/2010 Females                                            64177.0
                            Males                                             128304.0
                  2011/2012 Females                                            89675.0
                            Males                                             126799.0
                  2013/2014 Females                                            88908.0
                            Males                                             156598.0
35 to 44 years    2007/2008 Females                                            77364.0
                            Males                                             115207.0
                  2009/2010 Females                                            62096.0
                            Males                                             100692.0
                  2011/2012 Females                                            80902.0
                            Males                                             107623.0
                  2013/2014 Females                                            68002.0
                            Males                                             115000.0
45 to 64 years    2007/2008 Females                                           151433.0
                            Males                                             174863.0
                  2009/2010 Females                                           154574.0
                            Males                                             192510.0
                  2011/2012 Females                                           147841.0
                            Males                                             211549.0
                  2013/2014 Females                                           177579.0
                            Males                                             216888.0
65 years and over 2007/2008 Females                                            85889.0
                            Males                                              79173.0
                  2009/2010 Females                                            80118.0
                            Males                                              75102.0
                  2011/2012 Females                                            84472.0
                            Males                                              81641.0
                  2013/2014 Females                                           105647.0
                            Males                                              88496.0

Indicators                          Body mass index, self-reported, youth (12 to 17 years old), overweight or obese  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                                             7668.0
                            Males                                              18650.0
                  2009/2010 Females                                            16140.0
                            Males                                              16375.0
                  2011/2012 Females
                            Males                                              19790.0
                  2013/2014 Females                                             8554.0
                            Males                                              22880.0
20 to 34 years    2007/2008 Females                                                NaN
                            Males                                                  NaN
                  2009/2010 Females                                                NaN
                            Males                                                  NaN
                  2011/2012 Females                                                NaN
                            Males                                                  NaN
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
35 to 44 years    2007/2008 Females                                                NaN
                            Males                                                  NaN
                  2009/2010 Females                                                NaN
                            Males                                                  NaN
                  2011/2012 Females                                                NaN
                            Males                                                  NaN
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
45 to 64 years    2007/2008 Females                                                NaN
                            Males                                                  NaN
                  2009/2010 Females                                                NaN
                            Males                                                  NaN
                  2011/2012 Females                                                NaN
                            Males                                                  NaN
                  2013/2014 Females                                                NaN
                            Males                                                  NaN
65 years and over 2007/2008 Females                                                NaN
                            Males                                                  NaN
                  2009/2010 Females                                                NaN
                            Males                                                  NaN
                  2011/2012 Females                                                NaN
                            Males                                                  NaN
                  2013/2014 Females                                                NaN
                            Males                                                  NaN

Indicators                          Breastfeeding initiation  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females
                            Males                        NaN
                  2009/2010 Females
                            Males                        NaN
                  2011/2012 Females
                            Males                        NaN
                  2013/2014 Females
                            Males                        NaN
20 to 34 years    2007/2008 Females                  66484.0
                            Males                        NaN
                  2009/2010 Females                  55785.0
                            Males                        NaN
                  2011/2012 Females                  62203.0
                            Males                        NaN
                  2013/2014 Females                  65841.0
                            Males                        NaN
35 to 44 years    2007/2008 Females                  47995.0
                            Males                        NaN
                  2009/2010 Females                  48605.0

time: 50 ms

In [125]:
flattened = pd.DataFrame(pivot.to_records())

time: 9.47 ms

In [126]:
flattened

,Age group,REF_DATE,Sex,"5 or more drinks on one occasion, at least once a month in the past year",Arthritis,Asthma,"Body mass index, self-reported, adult (18 years and over), obese","Body mass index, self-reported, adult (18 years and over), overweight","Body mass index, self-reported, adult (18 years and over), overweight or obese","Body mass index, self-reported, youth (12 to 17 years old), overweight or obese",Breastfeeding initiation,Chronic obstructive pulmonary disease (COPD),Contact with a medical doctor in the past 12 months,"Current smoker, daily","Current smoker, daily or occasional",Diabetes,"Exclusive breastfeeding, at least 6 months",Exposure to second-hand smoke at home,"Exposure to second-hand smoke in the past month, in public places","Exposure to second-hand smoke in the past month, in vehicles","Exposure to second-hand smoke in the past month, in vehicles and/or public places","Fruit and vegetable consumption, 5 times or more per day","Functional health, good to full",Has a regular medical doctor,Heavy drinking,High blood pressure,"Influenza immunization, less than one year ago",Injuries in the past 12 months causing limitation of normal activities,"Injuries in the past 12 months, sought medical attention","Life satisfaction, satisfied or very satisfied",Mood disorder,"Pain or discomfort by severity, moderate or severe",Pain or discomfort that prevents activities,"Participation and activity limitation, sometimes or often","Perceived health, fair or poor","Perceived health, very good or excellent","Perceived life stress, quite a lot (15 years and over)","Perceived mental health, fair or poor","Perceived mental health, very good or excellent","Physical activity during leisure-time, inactive","Physical activity during leisure-time, moderately active or active","Sense of belonging to local community, somewhat strong or very strong","Wears a helmet when riding a bicycle, always"
0,12 to 19 years,2007/2008,Females,5375.0,,10246.0,,,,7668.0,,NaN,86181.0,,,,,13418.0,32336.0,13341.0,33835.0,51291.0,NaN,108734.0,NaN,,37366.0,NaN,NaN,100442.0,,,,14845.0,,84998.0,13933.0,,92631.0,62259.0,54068.0,90107.0,NaN
1,12 to 19 years,2007/2008,Males,8966.0,,,,,,18650.0,NaN,NaN,84180.0,,16437.0,,NaN,,24414.0,12706.0,31058.0,52252.0,NaN,118143.0,NaN,,28358.0,NaN,NaN,117172.0,,,,19904.0,,93157.0,14759.0,,97998.0,33356.0,88584.0,82945.0,NaN
2,12 to 19 years,2009/2010,Females,10370.0,,9121.0,,,,16140.0,,NaN,91196.0,,,,,,32703.0,6449.0,35943.0,57792.0,95082.0,108475.0,NaN,,22076.0,11045.0,,105956.0,,,,14454.0,5310.0,78471.0,21697.0,,85640.0,56860.0,57153.0,92267.0,20477.0
3,12 to 19 years,2009/2010,Males,5282.0,,10840.0,,,9794.0,16375.0,NaN,NaN,91577.0,,,,NaN,14541.0,23897.0,,25942.0,54369.0,106738.0,111509.0,NaN,,35615.0,27240.0,12725.0,111903.0,,,,10135.0,,93324.0,,,94186.0,30729.0,84485.0,81458.0,25947.0
4,12 to 19 years,2011/2012,Females,,,,,,,,,NaN,NaN,,,,,,39461.0,,39909.0,40011.0,NaN,101903.0,NaN,,24542.0,NaN,NaN,108566.0,,,,NaN,,74617.0,18654.0,,89664.0,39336.0,71962.0,95287.0,30082.0
5,12 to 19 years,2011/2012,Males,10177.0,,8439.0,,,,19790.0,NaN,NaN,NaN,,,,NaN,4992.0,20172.0,6586.0,24618.0,51103.0,NaN,102194.0,NaN,,30476.0,NaN,NaN,108315.0,,,,NaN,,85824.0,11552.0,,89085.0,33601.0,81416.0,88938.0,30757.0
6,12 to 19 years,2013/2014,Females,NaN,,8676.0,,,,8554.0,,NaN,74965.0,,,,,6483.0,29858.0,,32079.0,52492.0,86767.0,105704.0,,,21254.0,14228.0,,106528.0,,,,21658.0,,69985.0,22108.0,12530.0,76147.0,48873.0,61175.0,87778.0,14852.0
7,12 to 19 years,2013/2014,Males,NaN,,9429.0,,,,22880.0,NaN,NaN,83852.0,,,,NaN,,24991.0,,26156.0,31365.0,103718.0,110366.0,11279.0,,34149.0,29855.0,14309.0,110744.0,,,,15496.0,,85400.0,9640.0,,82114.0,40724.0,72422.0,89411.0,24894.0
8,20 to 34 years,2007/2008,Females,45721.0,8597.0,16868.0,22002.0,38103.0,60105.0,NaN,66484.0,NaN,250770.0,31223.0,50550.0,,20090.0,,45487.0,10717.0,49873.0,116860.0,NaN,254864.0,NaN,,63151.0,NaN,NaN,267306.0,10593.0,11307.0,19495.0,42131.0,17779.0,208143.0,65651.0,15552.0,231378.0,176326.0,118119.0,168309.0,NaN
9,20 to 34 years,2007/2008,Males,90342.0,,19111.0,27233.0,86281.0,113513.0,NaN,NaN,NaN,185950.0,62377.0,95025.0,,NaN,,43961.0,27744.0,51014.0,97861.0,NaN,221270.0,NaN,,45616.0,NaN,NaN,263103.0,,,12050.0,37510.0,8305.0,203389.0,39956.0,,235205.0,151438.0,141237.0,157494.0,NaN
10,20 to 34 years,2009/2010,Females,42975.0,,37864.0,23842.0,40335.0,64177.0,NaN,55785.0,NaN,258656.0,33842.0,51198.0,,16428.0,,44777.0,14931.0,49597.0,153400.0,274951.0,272930.0,NaN,,46271.0,29796.0,16447.0,287150.0,14933.0,19540.0,21312.0,37318.0,10388.0,233249.0,82139.0,15471.0,241453.0,193744.0,121164.0,209106.0,45249.0
11,20 to 34 years,2009/2010,Males,80583.0,,13158.0,48149.0,80155.0,128304.0,NaN,NaN,NaN,210316.0,63438.0,89441.0,,NaN,,37732.0,,54467.0,109445.0,269240.0,229211.0,NaN,9492.0,47074.0,41658.0,,274069.0,9014.0,17249.0,21057.0,31199.0,27492.0,222263.0,62326.0,13002.0,234881.0,163928.0,139074.0,156234.0,27389.0
12,20 to 34 years,2011/2012,Females,51316.0,,21943.0,36316.0,53359.0,89675.0,NaN,62203.0,NaN,NaN,31709.0,62328.0,,18123.0,,44457.0,13560.0,48913.0,117680.0,NaN,253613.0,NaN,,63585.0,NaN,NaN,287569.0,24631.0,23708.0,26428.0,NaN,26496.0,205208.0,81391.0,26800.0,221791.0,174064.0,135638.0,169636.0,56227.0
13,20 to 34 years,2011/2012,Males,101227.0,,17227.0,28343.0,98456.0,126799.0,NaN,NaN,NaN,NaN,50650.0,89794.0,,NaN,,48468.0,13877.0,51989.0,100440.0,NaN,207925.0,NaN,,45350.0,NaN,NaN,264228.0,20592.0,,15447.0,NaN,18752.0,202498.0,71585.0,12031.0,201529.0,144528.0,148847.0,180439.0,40148.0
14,20 to 34 years,2013/2014,Females,NaN,9579.0,22339.0,23809.0,65098.0,88908.0,NaN,65841.0,NaN,261304.0,25932.0,50026.0,,26516.0,14851.0,49886.0,18631.0,54472.0,118283.0,279089.0,275229.0,72106.0,,64748.0,42794.0,16180.0,300419.0,23971.0,32519.0,29412.0,74731.0,25690.0,219523.0,98580.0,17214.0,228970.0,171648.0,159161.0,185788.0,50138.0
15,20 to 34 years,2013/2014,Males,NaN,,19726.0,52790.0,103809.0,156598.0,NaN,NaN,NaN,226929.0,62937.0,92858.0,,NaN,,50490.0,27439.0,63616.0,102985.0,284299.0,244151.0,105864.0,,40743.0,44360.0,22206.0,303676.0,22686.0,,,74275.0,,236229.0,84756.0,15884.0,244693.0,124576.0,198434.0,204143.0,52612.0
16,35 to 44 years,2007/2008,Females,11272.0,11722.0,25628.0,18421.0,58943.0,77364.0,NaN,47995.0,NaN,204123.0,15123.0,26703.0,,16544.0,,26756.0,10772.0,30462.0,101261.0,NaN,219322.0,NaN,16189.0,73495.0,NaN,NaN,209543.0,16787.0,19165.0,23640.0,49003.0,12186.0,158296.0,66193.0,12186.0,178592.0,146151.0,91225.0,140757.0,NaN
17,35 to 44 years,2007/2008,Males,36783.0,,5542.0,28677.0,86530.0,115207.0,NaN,NaN,NaN,175200.0,50021.0,73313.0,,NaN,,20130.0,,23499.0,81684.0,NaN,201469.0,NaN,17701.0,58041.0,NaN,NaN,202639.0,8761.0,18741.0,17608.0,51985.0,15868.0,149423.0,53959.0,14479.0,173490.0,125759.0,101195.0,134858.0,NaN
18,35 to 44 years,2009/2010,Females,10374.0,,9701.0,22104.0,39992.0,62096.0,NaN,48605.0,,186123.0,20081.0,25301.0,,13857.0,,26339.0,,28603.0,117748.0,174190.0,206919.0,NaN,14974.0,59317.0,14685.0,,186596.0,21526.0,12700.0,23590.0,36358.0,19552.0,148230.0,73065.0,14515.0,163768.0,147050.0,74473.0,139871.0,38149.0
19,35 to 44 years,2009/2010,Males,46262.0,11792.0,10896.0,26820.0,73872.0,100692.0,NaN,NaN,,154551.0,41899.0,57343.0,,NaN,,23012.0,,24099.0,94052.0,190055.0,186608.0,NaN,27578.0,33258.0,25074.0,8401.0,200337.0,10975.0,10972.0,15099.0,36275.0,5291.0,156212.0,68534.0,14255.0,171527.0,134542.0,83492.0,134765.0,32249.0
20,35 to 44 years,2011/2012,Females,14526.0,,14107.0,20404.0,60498.0,80902.0,NaN,55900.0,,NaN,18007.0,30568.0,,17670.0,,16757.0,,17990.0,102101.0,NaN,225201.0,NaN,13509.0,67470.0,NaN,NaN,222148.0,16849.0,25294.0,32429.0,NaN,13976.0,167920.0,75029.0,17578.0,172990.0,121235.0,117795.0,176504.0,29919.0
21,35 to 44 years,2011/2012,Males,40672.0,,9922.0,25532.0,82091.0,107623.0,NaN,NaN,,NaN,35697.0,57429.0,,NaN,,34866.0,9046.0,41183.0,87350.0,NaN,207147.0,NaN,19994.0,35226.0,NaN,NaN,204474.0,,13123.0,36319.0,NaN,11215.0,137491.0,76221.0,,167438.0,130232.0,98329.0,134394.0,42562.0
22,35 to 44 years,2013/2014,Females,NaN,16113.0,10098.0,24929.0,43073.0,68002.0,NaN,60041.0,,176830.0,19158.0,26717.0,,17364.0,,34396.0,,35947.0,91103.0,179290.0,194785.0,22800.0,,53477.0,17065.0,,190152.0,24630.0,39050.0,49618.0,65318.0,,119582.0,62934.0,16367.0,145661.0,132647.0,82655.0,148626.0,26960.0
23,35 to 44 years,2013/2014,Males,NaN,,,25071.0,89930.0,115000.0,NaN,NaN,,142695.0,29351.0,43382.0,,NaN,,19843.0,,21075.0,75229.0,170245.0,176510.0,40784.0,13809.0,48269.0,30947.0,,190960.0,,,24384.0,34305.0,,147182.0,53683.0,,151652.0,111637.0,93659.0,141815.0,42973.0
24,45 to 64 years,2007/2008,Females,14872.0,76313.0,32612.0,48682.0,102751.0,151433.0,NaN,,NaN,293667.0,39871.0,50958.0,42071.0,,13302.0,28913.0,10691.0,36722.0,144954.0,NaN,327114.0,NaN,85106.0,144882.0,NaN,NaN,279533.0,39439.0,56801.0,63028.0,122220.0,63151.0,183968.0,90384.0,27060.0,243952.0,204003.0,126582.0,205592.0,NaN
25,45 to 64 years,2007/2008,Males,46855.0,56812.0,18993.0,52018.0,122845.0,174863.0,NaN,NaN,NaN,253979.0,54471.0,67711.0,46463.0,NaN,,33034.0,25676.0,51307.0,95387.0,NaN,272525.0,NaN,64091.0,113342.0,NaN,NaN,244664.0,21332.0,42908.0,41205.0,113008.0,59590.0,163603.0,84245.0,18580.0,221455.0,194980.0,113431.0,201318.0,NaN
26,45 to 64 years,2009/2010,Females,6513.0,79013.0,30455.0,58184.0,96390.0,154574.0,NaN,,8338.0,322029.0,31986.0,44544.0,32040.0,,,44423.0,19351.0,58772.0,164813.0,274595.0,343910.0,NaN,70589.0,112236.0,30020.0,14049.0,312273.0,31021.0,62017.0,73988.0,90921.0,47182.0,200265.0,124805.0,27210.0,242890.0,219474.0,130590.0,236509.0,36490.0
27,45 to 64 years,2009/2010,Males,53544.0,46494.0,18378.0,57145.0,135365.0,192510.0,NaN,NaN,11808.0,272062.0,50108.0,59708.0,44370.0,NaN,,43646.0,,46696.0,120558.0,268270.0,312209.0,NaN,62554.0,101452.0,36643.0,14909.0,290151.0,24875.0,29029.0,45021.0,86812.0,43872.0,200680.0,99811.0,30486.0,228986.0,182287.0,151969.0,225103.0,58420.0
28,45 to 64 years,2011/2012,Females,,83765.0,34903.0,53543.0,94299.0,147841.0,NaN,,8061.0,NaN,30052.0,48126.0,,,,30266.0,19866.0,45242.0,181823.0,NaN,345487.0,NaN,94533.0,131322.0,NaN,NaN,307264.0,46043.0,79153.0,78445.0,NaN,64591.0,190810.0,103364.0,35839.0,242564.0,188514.0,172113.0,253411.0,43479.0
29,45 to 64 years,2011/2012,Males,55601.0,40937.0,,55851.0,155698.0,211549.0,NaN,NaN,,NaN,51649.0,69093.0,18621.0,NaN,,19137.0,,30743.0,104357.0,NaN,319456.0,NaN,63663.0,95595.0,NaN,NaN,304196.0,30267.0,53380.0,60888.0,NaN,38469.0,195103.0,97484.0,31381.0,238926.0,196105.0,149574.0,234717.0,71359.0
30,45 to 64 years,2013/2014,Females,NaN,98464.0,27498.0,41769.0,135810.0,177579.0,NaN,,10339.0,331970.0,31692.0,42122.0,27235.0,,,37631.0,7819.0,44289.0,169094.0,251747.0,357273.0,26047.0,89557.0,149339.0,34061.0,14988.0,293837.0,33352.0,81229.0,86266.0,129747.0,62392.0,201789.0,101499.0,38077.0,249902.0,199778.0,162623.0,234571.0,46297.0
31,45 to 64 years,2013/2014,Males,NaN,55260.0,,59735.0,157152.0,216888.0,NaN,NaN,,275482.0,66227.0,90437.0,37394.0,NaN,,26445.0,,27894.0,108338.0,279781.0,332396.0,58202.0,104817.0,113707.0,35291.0,8997.0,286486.0,23385.0,36202.0,46172.0,120625.0,53685.0,182336.0,102508.0,17205.0,223557.0,186571.0,164169.0,237386.0,79871.0
32,65 years and over,2007/2008,Females,,95816.0,13317.0,30290.0,55598.0,85889.0,NaN,NaN,NaN,168919.0,9949.0,11051.0,28717.0,NaN,,11958.0,,12963.0,73351.0,NaN,182662.0,NaN,90793.0,133545.0,NaN,NaN,154687.0,14402.0,48503.0,52985.0,103457.0,62610.0,59441.0,17476.0,12146.0,114054.0,126883.0,54350.0,111528.0,NaN
33,65 years and over,2007/2008,Males,8144.0,40442.0,6086.0,16022.0,63151.0,79173.0,NaN,NaN,NaN,132778.0,10635.0,16621.0,23838.0,NaN,,8144.0,,9819.0,54935.0,NaN,140278.0,NaN,58441.0,100791.0,NaN,NaN,115549.0,10401.0,24944.0,28168.0,81664.0,39215.0,49168.0,20765.0,9953.0,91636.0,69913.0,68823.0,89945.0,NaN
34,65 years and over,2009/2010,Females,,103840.0,12175.0,28271.0,51847.0,80118.0,NaN,NaN,6227.0,183537.0,9993.0,13688.0,48394.0,NaN,,8951.0,,10465.0,86223.0,102124.0,195068.0,NaN,109193.0,124851.0,20774.0,11364.0,146454.0,16117.0,50864.0,68094.0,113334.0,70339.0,65354.0,30252.0,15469.0,118666.0,124340.0,54056.0,117561.0,
35,65 years and over,2009/2010,Males,5115.0,49634.0,9694.0,21705.0,53397.0,75102.0,NaN,NaN,7060.0,142320.0,13784.0,16271.0,33270.0,NaN,,11469.0,,12330.0,52978.0,99687.0,147720.0,NaN,57063.0,97542.0,12607.0,7515.0,121034.0,7777.0,20741.0,27421.0,62735.0,33276.0,59565.0,20744.0,11989.0,96320.0,77366.0,64424.0,99380.0,10879.0
36,65 years and over,2011/2012,Females,,102069.0,14657.0,26662.0,57810.0,84472.0,NaN,NaN,12050.0,NaN,8144.0,8922.0,34529.0,NaN,7580.0,7802.0,,8461.0,90636.0,NaN,201371.0,NaN,92717.0,133088.0,NaN,NaN,166698.0,13888.0,64953.0,63361.0,NaN,45740.0,85232.0,29196.0,11248.0,128339.0,116926.0,78642.0,142137.0,5288.0
37,65 years and over,2011/2012,Males,7933.0,54514.0,8003.0,16896.0,64745.0,81641.0,NaN,NaN,4033.0,NaN,20752.0,22506.0,21410.0,NaN,,,,,37908.0,NaN,156136.0,NaN,82360.0,100094.0,NaN,NaN,129948.0,8147.0,33003.0,43933.0,NaN,35423.0,67016.0,20519.0,8554.0,97412.0,89672.0,59804.0,103972.0,11032.0
38,65 years and over,2013/2014,Females,NaN,106502.0,21480.0,28974.0,76673.0,105647.0,NaN,NaN,14156.0,198558.0,11185.0,14696.0,43961.0,NaN,,11482.0,,13618.0,84686.0,120656.0,211542.0,6487.0,107997.0,132036.0,26274.0,15913.0,161144.0,20743.0,61481.0,72352.0,125836.0,67739.0,83951.0,32833.0,18297.0,119535.0,118638.0,85631.0,145178.0,7225.0
39,65 years and over,2013/2014,Males,NaN,48056.0,7965.0,18809.0,69687.0,88496.0,NaN,NaN,10980.0,149985.0,13113.0,14984.0,34344.0,NaN,,11604.0,,12049.0,60502.0,109038.0,163050.0,9597.0,75078.0,106196.0,10603.0,6628.0,130279.0,10940.0,25708.0,34043.0,80181.0,34715.0,79457.0,27171.0,10757.0,102968.0,66366.0,89478.0,112183.0,11957.0

time: 66.6 ms

In [127]:
flattened.to_csv('13100452-eng/toronto_pivot.csv', encoding='utf-8', index=False)

time: 4.53 ms

In [128]:
measurer = np.vectorize(len)
res1 = dict(zip(flattened, measurer(flattened.values.astype(str)).max(axis=0)))

time: 4.06 ms

In [129]:
res1

{'5 or more drinks on one occasion, at least once a month in the past year': 8,
 'Age group': 17,
 'Arthritis': 8,
 'Asthma': 7,
 'Body mass index, self-reported, adult (18 years and over), obese': 7,
 'Body mass index, self-reported, adult (18 years and over), overweight': 8,
 'Body mass index, self-reported, adult (18 years and over), overweight or obese': 8,
 'Body mass index, self-reported, youth (12 to 17 years old), overweight or obese': 7,
 'Breastfeeding initiation': 7,
 'Chronic obstructive pulmonary disease (COPD)': 7,
 'Contact with a medical doctor in the past 12 months': 8,
 'Current smoker, daily': 7,
 'Current smoker, daily or occasional': 7,
 'Diabetes': 7,
 'Exclusive breastfeeding, at least 6 months': 7,
 'Exposure to second-hand smoke at home': 7,
 'Exposure to second-hand smoke in the past month, in public places': 7,
 'Exposure to second-hand smoke in the past month, in vehicles': 7,
 'Exposure to second-hand smoke in the past month, in vehicles and/or public places': 7,
 'Fruit and vegetable consumption, 5 times or more per day': 8,
 'Functional health, good to full': 8,
 'Has a regular medical doctor': 8,
 'Heavy drinking': 8,
 'High blood pressure': 8,
 'Influenza immunization, less than one year ago': 8,
 'Injuries in the past 12 months causing limitation of normal activities': 7,
 'Injuries in the past 12 months, sought medical attention': 7,
 'Life satisfaction, satisfied or very satisfied': 8,
 'Mood disorder': 7,
 'Pain or discomfort by severity, moderate or severe': 7,
 'Pain or discomfort that prevents activities': 7,
 'Participation and activity limitation, sometimes or often': 8,
 'Perceived health, fair or poor': 7,
 'Perceived health, very good or excellent': 8,
 'Perceived life stress, quite a lot (15 years and over)': 8,
 'Perceived mental health, fair or poor': 7,
 'Perceived mental health, very good or excellent': 8,
 'Physical activity during leisure-time, inactive': 8,
 'Physical activity during leisure-time, moderately active or active': 8,
 'REF_DATE': 9,
 'Sense of belonging to local community, somewhat strong or very strong': 8,
 'Sex': 7,
 'Wears a helmet when riding a bicycle, always': 7}

time: 3.67 ms

In [130]:

query = """CREATE TABLE `health_char_toronto_pivot` (
`Age group` varchar(17) DEFAULT NULL,
 `REF_DATE` varchar(9) DEFAULT NULL,
 `Sex` varchar(7) DEFAULT NULL,
 `5 or more drinks 1x, 1x por mes no ano passado` varchar(8) DEFAULT NULL,
 `Arthritis` varchar(8) DEFAULT NULL,
 `Asthma` varchar(7) DEFAULT NULL,
 `BMI adult (18 years and over), obese` varchar(7) DEFAULT NULL,
 `BMI adult (18 years and over), overweight` varchar(8) DEFAULT NULL,
 `BMI adult (18 years and over), overweight or obese` varchar(8) DEFAULT NULL,
 `BMI youth (12 to 17 years old), overweight or obese` varchar(7) DEFAULT NULL,
 `Breastfeeding initiation` varchar(7) DEFAULT NULL,
 `Chronic obstructive pulmonary disease (COPD)` varchar(7) DEFAULT NULL,
 `Contact with a medical doctor in the past 12 months` varchar(8) DEFAULT NULL,
 `Current smoker, daily` varchar(7) DEFAULT NULL,
 `Current smoker, daily or occasional` varchar(7) DEFAULT NULL,
 `Diabetes` varchar(7) DEFAULT NULL,
 `Exclusive breastfeeding, at least 6 months` varchar(7) DEFAULT NULL,
 `Exposure to second-hand smoke at home` varchar(7) DEFAULT NULL,
 `Exposure to second-hand smoke mes passado, in public places` varchar(7) DEFAULT NULL,
 `Exposure to second-hand smoke mes passado, in veh.` varchar(7) DEFAULT NULL,
 `Exposure to second-hand smoke mes passado, in veh. e/ou pb` varchar(7) DEFAULT NULL,
 `Fruit and vegetable consumption, 5 times or more per day` varchar(8) DEFAULT NULL,
 `Functional health, good to full` varchar(8) DEFAULT NULL,
 `Has a regular medical doctor` varchar(8) DEFAULT NULL,
 `Heavy drinking` varchar(8) DEFAULT NULL,
 `High blood pressure` varchar(8) DEFAULT NULL,
 `Influenza immunization, less than one year ago` varchar(8) DEFAULT NULL,
 `Injuries ultimo 12 mes causing limitation of normal activities` varchar(7) DEFAULT NULL,
 `Injuries ultimo 12 mes, sought medical attention` varchar(7) DEFAULT NULL,
 `Life satisfaction, satisfied or very satisfied` varchar(8) DEFAULT NULL,
 `Mood disorder` varchar(7) DEFAULT NULL,
 `Pain or discomfort by severity, moderate or severe` varchar(7) DEFAULT NULL,
 `Pain or discomfort that prevents activities` varchar(7) DEFAULT NULL,
 `Participation and activity limitation, sometimes or often` varchar(8) DEFAULT NULL,
 `Perceived health, fair or poor` varchar(7) DEFAULT NULL,
 `Perceived health, very good or excellent` varchar(8) DEFAULT NULL,
 `Perceived life stress, quite a lot (15 years and over)` varchar(8) DEFAULT NULL,
 `Perceived mental health, fair or poor` varchar(7) DEFAULT NULL,
 `Perceived mental health, very good or excellent` varchar(8) DEFAULT NULL,
 `At. fisica no lazer, inativa` varchar(8) DEFAULT NULL,
 `At. fÃ­sica no lazer, moderadamente ativa ou ativa` varchar(8) DEFAULT NULL,
 `SensaÃ§Ã£o de pertencer Ã  comu. local pouco forte ou muito forte` varchar(8) DEFAULT NULL,
 `Usa um capacete ao andar de bicicleta, sempre` varchar(7),
  KEY `Age group` (`Age group`),
  KEY `REF_DATE` (`REF_DATE`) ,
  KEY `Sex` (`Sex`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""

time: 15.6 ms

In [131]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char_toronto_pivot''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_toronto_pivot'")
  result = self._query(query)

time: 3.92 ms

In [132]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 39.8 ms

In [133]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/13100452-eng/toronto_pivot.csv'  INTO TABLE pos.health_char_toronto_pivot  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 6.63 ms

# 0-9 + 10-19 = 12 year and over + 12 to 19 years
20-44 = 20 to 34 years + 35 to 44 years
45-64 = 45 to 64 years
65-84 + 85+ = 65 years and over

# Deaths
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710007901

In [134]:
data = pd.read_csv("17100079-eng/17100079.csv")

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time: 3.01 s

In [135]:
data.head()

,REF_DATE,GEO,DGUID,Components of population growth,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2001/2002,"St. John's, Newfoundland and Labrador",2011S0503001,Births,Both sexes,All ages,Persons,249,units,0,v72549440,1.1.1.1,1671.0,NaN,NaN,NaN,0
1,2001/2002,"St. John's, Newfoundland and Labrador",2011S0503001,Births,Both sexes,-1 year,Persons,249,units,0,v72549441,1.1.1.2,1671.0,NaN,NaN,NaN,0
2,2001/2002,"St. John's, Newfoundland and Labrador",2011S0503001,Births,Males,All ages,Persons,249,units,0,v72549551,1.1.2.1,849.0,NaN,NaN,NaN,0
3,2001/2002,"St. John's, Newfoundland and Labrador",2011S0503001,Births,Males,-1 year,Persons,249,units,0,v72549552,1.1.2.2,849.0,NaN,NaN,NaN,0
4,2001/2002,"St. John's, Newfoundland and Labrador",2011S0503001,Births,Females,All ages,Persons,249,units,0,v72549662,1.1.3.1,822.0,NaN,NaN,NaN,0

time: 9.88 ms

In [136]:
measurer = np.vectorize(len)
res1 = dict(zip(data, measurer(data.values.astype(str)).max(axis=0)))
res1

{'Age group': 17,
 'COORDINATE': 11,
 'Components of population growth': 29,
 'DECIMALS': 1,
 'DGUID': 14,
 'GEO': 45,
 'REF_DATE': 9,
 'SCALAR_FACTOR': 6,
 'SCALAR_ID': 1,
 'STATUS': 3,
 'SYMBOL': 3,
 'Sex': 10,
 'TERMINATED': 3,
 'UOM': 7,
 'UOM_ID': 3,
 'VALUE': 8,
 'VECTOR': 10}

time: 13.1 s

In [137]:
query = """CREATE TABLE `health_char_death` (
  `REF_DATE` varchar(9) DEFAULT NULL,
  `GEO` varchar(45) DEFAULT NULL,
  `DGUID` varchar(14) DEFAULT NULL,
  `Components of population growth` varchar(29) DEFAULT NULL,
  `Sex` varchar(10) DEFAULT NULL,
  `Age group` varchar(17) DEFAULT NULL,
  `UOM` varchar(7) DEFAULT NULL,
  `UOM_ID` varchar(3) DEFAULT NULL,
  `SCALAR_FACTOR` varchar(6) DEFAULT NULL,
  `SCALAR_ID` varchar(1) DEFAULT NULL,
  `VECTOR` varchar(10) DEFAULT NULL,
  `COORDINATE` varchar(11) DEFAULT NULL,
  `VALUE` varchar(8) DEFAULT NULL,
  `STATUS` varchar(3) DEFAULT NULL,
  `SYMBOL` varchar(3) DEFAULT NULL,
  `TERMINATED` varchar(3) DEFAULT NULL,
  `DECIMALS` varchar(1) DEFAULT NULL,
  KEY `REF_DATE` (`REF_DATE`),
  KEY `GEO` (`GEO`),
  KEY `DGUID` (`DGUID`),
  KEY `Components of population growth` (`Components of population growth`),
  KEY `Sex` (`Sex`),
  KEY `Age group` (`Age group`),
  KEY `UOM` (`UOM`),
  KEY `UOM_ID` (`UOM_ID`),
  KEY `SCALAR_FACTOR` (`SCALAR_FACTOR`),
  KEY `SCALAR_ID` (`SCALAR_ID`),
  KEY `VECTOR` (`VECTOR`),
  KEY `COORDINATE` (`COORDINATE`),
  KEY `VALUE` (`VALUE`),
  KEY `STATUS` (`STATUS`),
  KEY `SYMBOL` (`SYMBOL`),
  KEY `TERMINATED` (`TERMINATED`),
  KEY `DECIMALS` (`DECIMALS`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""

time: 7.14 ms

In [138]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char_death''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_death'")
  result = self._query(query)

time: 61 ms

In [139]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 94 ms

In [140]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100079-eng/17100079.csv'  INTO TABLE pos.health_char_death  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 47.6 s

In [141]:
toronto =  data.query('GEO.str.contains("Toronto") or GEO.str.contains("toronto")')

time: 905 ms

In [142]:
toronto.to_csv('17100079-eng/toronto.csv', encoding='utf-8', index=False)

time: 270 ms

In [143]:
engine.execute(sa_text('''DROP TABLE IF EXISTS  health_char_death_toronto''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_death_toronto'")
  result = self._query(query)

time: 4.37 ms

In [144]:
engine.execute(sa_text('''CREATE TABLE IF NOT EXISTS health_char_death_toronto LIKE health_char_death''').execution_options(autocommit=True))

time: 140 ms

In [145]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100079-eng/toronto.csv'  INTO TABLE pos.health_char_death_toronto  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 1.41 s

In [146]:
colunas_tabela = pd.read_sql_query("SELECT concat('`',COLUMN_NAME,'`') COLUMN_NAME FROM information_schema.columns WHERE  table_name='health_char_death_toronto'", engine)

time: 13.3 ms

In [147]:
colunas = []

for index, row in colunas_tabela.iterrows():
    colunas.append({'coluna' : row['COLUMN_NAME'],
                    'query_avg' : 'select avg('+row['COLUMN_NAME']+') avg  from health_char_death_toronto;',
                    'query_min' : 'select min('+row['COLUMN_NAME']+') min  from health_char_death_toronto;',
                    'query_max' : 'select max('+row['COLUMN_NAME']+') max  from health_char_death_toronto;',
                    'query_variance' : 'select variance('+row['COLUMN_NAME']+') variance  from health_char_death_toronto;',
                    'query_std' : 'select std('+row['COLUMN_NAME']+') std  from health_char_death_toronto;',
                    'query_max_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') max_chars FROM health_char_death_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') DESC LIMIT 1;',
                    'query_min_chars' : 'select CHAR_LENGTH('+row['COLUMN_NAME']+') min_chars FROM health_char_death_toronto ORDER BY CHAR_LENGTH('+row['COLUMN_NAME']+') ASC LIMIT 1;',
                    'query_nulos' : 'select count(*) nulos FROM health_char_death_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_nulos_porcentagem' : 'select count(*) /(select count(*) FROM health_char_toronto )*100 porcentagem FROM health_char_death_toronto WHERE '+row['COLUMN_NAME']+' IS NULL || '+row['COLUMN_NAME']+" = '' ;",
                    'query_qtd_grupos' : 'select ifnull(count(*),0) qtd_grupos from (select '+row['COLUMN_NAME']+' from health_char_death_toronto group by '+row['COLUMN_NAME']+') qtd_agrupada',
                    'query_grupos_top_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char_death_toronto group by '+row['COLUMN_NAME']+' order by qtd desc limit 10',
                    'query_grupos_bottom_10' : 'select count(*) qtd,'+row['COLUMN_NAME']+' from health_char_death_toronto group by '+row['COLUMN_NAME']+' order by qtd asc limit 10'  
                   }
                  )

time: 7.59 ms

In [148]:
#qtd registros

qtd_registros = pd.read_sql_query('select count(*) from health_char_death_toronto', engine)
qtd_registros = qtd_registros.iloc[0][0]

time: 14 ms

In [149]:
colunas_analise_top = {}
colunas_iterar = ['coluna','query_avg','query_min','query_max','query_variance','query_std','query_max_chars','query_min_chars','query_nulos','query_nulos_porcentagem','query_qtd_grupos','query_grupos_top_10','query_grupos_bottom_10']
df = pd.DataFrame(colunas, columns = colunas_iterar)
for index, row in df.iterrows():
    retorno_coluna_querys = []
    for i in colunas_iterar: 
        if i != 'coluna' :
            retorno_query = pd.read_sql_query(row[i], engine)
            if i == 'query_grupos_top_10' or i == 'query_grupos_bottom_10' :
                retorno_coluna_querys.append(retorno_query)
            else :
                retorno_coluna_querys.append(retorno_query.iloc[0][0])
    colunas_analise_top[row['coluna']] = retorno_coluna_querys

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2001/2002'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Toronto, Ontario'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '2011S0503535'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Births'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Both sexes'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '-1 year'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'Persons'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'units '")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v101347049'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v101347050'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v101347051'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: 'v101347052'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '16.1.1.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '16.1.1.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '16.1.2.1'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '16.1.2.2'")
  result = self._query(query)
/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: ''")
  result = self._query(query)

time: 2.3 s

In [150]:
colunas_analise_top

print("Qtd de registros: "+str(qtd_registros))
# Creates pandas DataFrame. 
x = pd.DataFrame(colunas_analise_top, index =[ 'avg', 'min', 'max','variance','std','max_chars','min_chars','nulos ou vazios','porcentagem nulos e vazios','quantidade agrupada','grupos_top_10','grupos_bottom_10']) 
x

Qtd de registros: 48048

,`REF_DATE`,`GEO`,`DGUID`,`Components of population growth`,`Sex`,`Age group`,`UOM`,`UOM_ID`,`SCALAR_FACTOR`,`SCALAR_ID`,`VECTOR`,`COORDINATE`,`VALUE`,`STATUS`,`SYMBOL`,`TERMINATED`,`DECIMALS`
avg,2008.5,0,2011,0,0,43.6863,0,249,0,0,0,16.4992,329.292,0,0,0,0
min,2001/2002,"Toronto, Ontario",2011S0503535,Births,Both sexes,-1 year,Persons,249,units,0,v101347049,16.1.1.1,,,,,0
max,2016/2017,"Toronto, Ontario",2011S0503535,Returning emigrants,Males,All ages,Persons,249,units,0,v72592063,16.9.3.99,999.0,..,,,0
variance,21.25,0,0,0,0,714.103,0,0,0,0,0,0.0668525,9.87647e+06,0,0,0,0
std,4.60977,0,0,0,0,26.7227,0,0,0,0,0,0.258559,3142.68,0,0,0,0
max_chars,9,16,12,29,10,17,7,3,6,1,10,11,8,2,0,0,1
min_chars,9,16,12,6,5,6,7,3,6,1,9,8,0,0,0,0,1
nulos ou vazios,0,0,0,0,0,0,0,0,0,0,0,0,1998,46050,48048,48048,0
porcentagem nulos e vazios,0,0,0,0,0,0,0,0,0,0,0,0,146.053,3366.23,3512.28,3512.28,0
quantidade agrupada,16,1,1,10,3,111,1,1,1,1,3003,3003,4294,2,1,1,1
grupos_top_10,qtd REF_DATE 0 3003 2012/2013 1 3003 ...,"qtd GEO 0 48048 Toronto, ...",qtd DGUID 0 48048 2011S0503535,qtd Components of population growth 0 532...,qtd Sex 0 16016 Both sexes 1 1...,qtd Age group 0 480 -1 year ...,qtd UOM 0 48048 Persons,qtd UOM_ID 0 48048 249,qtd SCALAR_FACTOR 0 48048 units,qtd SCALAR_ID 0 48048 0,qtd VECTOR 0 16 v101347074 1 16 ...,qtd COORDINATE 0 16 16.10.1.16 1 16 ...,qtd VALUE 0 1998 1 619 4.0 2 ...,qtd STATUS 0 46050 1 1998 ..,qtd SYMBOL 0 48048,qtd TERMINATED 0 48048,qtd DECIMALS 0 48048 0
grupos_bottom_10,qtd REF_DATE 0 3003 2012/2013 1 3003 ...,"qtd GEO 0 48048 Toronto, ...",qtd DGUID 0 48048 2011S0503535,qtd Components of population growth 0 9...,qtd Sex 0 16016 Both sexes 1 1...,qtd Age group 0 432 21 years ...,qtd UOM 0 48048 Persons,qtd UOM_ID 0 48048 249,qtd SCALAR_FACTOR 0 48048 units,qtd SCALAR_ID 0 48048 0,qtd VECTOR 0 16 v101347074 1 16 ...,qtd COORDINATE 0 16 16.10.1.16 1 16 ...,qtd VALUE 0 1 4734.0 1 1 48...,qtd STATUS 0 1998 .. 1 46050,qtd SYMBOL 0 48048,qtd TERMINATED 0 48048,qtd DECIMALS 0 48048 0

time: 67.2 ms

In [151]:
engine.execute(sa_text("""delete from health_char_death_toronto where `STATUS` = '..'""").execution_options(autocommit=True))

time: 57.9 ms

In [152]:
engine.execute(sa_text("""delete from health_char_death_toronto where `Sex` = 'Both sexes'""").execution_options(autocommit=True))

time: 539 ms

In [153]:
engine.execute(sa_text("""delete from health_char_death_toronto where `Age group` = 'Total, 12 years and over' OR `Age group` = 'All ages'""").execution_options(autocommit=True))

time: 26.4 ms

In [154]:
engine.execute(sa_text('''alter table health_char_death_toronto
  drop UOM_ID,  drop SCALAR_FACTOR, drop SCALAR_ID, drop VECTOR, drop COORDINATE,drop SYMBOL,
drop `TERMINATED`,drop `DECIMALS`,drop DGUID''').execution_options(autocommit=True))

time: 1.74 s

In [155]:
colunas_tabela = pd.read_sql_query("""select * from health_char_death_toronto where sex != 'Both sexes'""", engine)
colunas_tabela.head(100)

,REF_DATE,GEO,Components of population growth,Sex,Age group,UOM,VALUE,STATUS
0,2001/2002,"Toronto, Ontario",Births,Males,-1 year,Persons,30002.0,
1,2001/2002,"Toronto, Ontario",Births,Females,-1 year,Persons,28240.0,
2,2001/2002,"Toronto, Ontario",Deaths,Males,-1 year,Persons,164.0,
3,2001/2002,"Toronto, Ontario",Deaths,Males,0 to 4 years,Persons,41.0,
4,2001/2002,"Toronto, Ontario",Deaths,Males,0 years,Persons,21.0,
...,...,...,...,...,...,...,...,...
95,2001/2002,"Toronto, Ontario",Deaths,Males,76 years,Persons,421.0,
96,2001/2002,"Toronto, Ontario",Deaths,Males,77 years,Persons,437.0,
97,2001/2002,"Toronto, Ontario",Deaths,Males,78 years,Persons,443.0,
98,2001/2002,"Toronto, Ontario",Deaths,Males,79 years,Persons,444.0,
99,2001/2002,"Toronto, Ontario",Deaths,Males,80 to 84 years,Persons,1905.0,

time: 326 ms

In [156]:
engine.execute(sa_text('''ALTER TABLE `pos`.`health_char_death_toronto` 
ADD COLUMN `Age` VARCHAR(45) NULL AFTER `STATUS`,
ADD INDEX `Age` (`Age` ASC);''').execution_options(autocommit=True))

time: 742 ms

In [157]:
engine.execute(sa_text('''update health_char_death_toronto set `Age` = replace(replace(replace(`Age group`,'years',''),'year',''),' and over','') 

where `Age group` not like '%to%';''').execution_options(autocommit=True))

time: 359 ms

In [158]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char_death_toronto_age_group''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_death_toronto_age_group'")
  result = self._query(query)

time: 2.87 ms

In [159]:
engine.execute(sa_text('''CREATE TABLE `health_char_death_toronto_age_group` (
  `REF_DATE` varchar(9) DEFAULT NULL,
  `GEO` varchar(45) DEFAULT NULL,
  `Components of population growth` varchar(29) DEFAULT NULL,
  `Sex` varchar(10) DEFAULT NULL,
  `Age group` varchar(50) DEFAULT NULL,
  `UOM` varchar(7) DEFAULT NULL,
  `VALUE` varchar(255) DEFAULT NULL,
  `STATUS` varchar(3) DEFAULT NULL,
  KEY `REF_DATE` (`REF_DATE`),
  KEY `GEO` (`GEO`),
  KEY `Components of population growth` (`Components of population growth`),
  KEY `Sex` (`Sex`),
  KEY `Age group` (`Age group`),
  KEY `UOM` (`UOM`),
  KEY `VALUE` (`VALUE`),
  KEY `STATUS` (`STATUS`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;''').execution_options(autocommit=True))

time: 33.5 ms

In [160]:
engine.execute(sa_text("""INSERT INTO health_char_death_toronto_age_group
select REF_DATE,GEO,`Components of population growth`,`Sex`, '12 to 19 years' `Age group`,UOM,sum(VALUE) VALUE,STATUS from health_char_death_toronto
where   `Age` >= '12' and `Age` <= '19'  group by REF_DATE,GEO,`Components of population growth`,`Sex`,UOM,STATUS;""").execution_options(autocommit=True))

engine.execute(sa_text("""INSERT INTO health_char_death_toronto_age_group
select REF_DATE,GEO,`Components of population growth`,`Sex`, '20 to 34 years' `Age group`,UOM,sum(VALUE) VALUE,STATUS from health_char_death_toronto
where   `Age` >= '20' and `Age` <= '34'  group by REF_DATE,GEO,`Components of population growth`,`Sex`,UOM,STATUS;""").execution_options(autocommit=True))

engine.execute(sa_text("""INSERT INTO health_char_death_toronto_age_group
select REF_DATE,GEO,`Components of population growth`,`Sex`, '35 to 44 years' `Age group`,UOM,sum(VALUE) VALUE,STATUS from health_char_death_toronto
where  `Age` >= '35' and `Age` <= '44' group by REF_DATE,GEO,`Components of population growth`,`Sex`,UOM,STATUS;""").execution_options(autocommit=True))

engine.execute(sa_text("""INSERT INTO health_char_death_toronto_age_group
select REF_DATE,GEO,`Components of population growth`,`Sex`,'45 to 64 years' `Age group`,UOM,sum(VALUE) VALUE,STATUS from health_char_death_toronto
where `Age` >= '45' and `Age` <= '64'  group by REF_DATE,GEO,`Components of population growth`,`Sex`,UOM,STATUS;""").execution_options(autocommit=True))

engine.execute(sa_text("""INSERT INTO health_char_death_toronto_age_group
select REF_DATE,GEO,`Components of population growth`,`Sex`,'65 years and over' `Age group`,UOM,sum(VALUE) VALUE,STATUS from health_char_death_toronto
where `Age` >= '65' group by REF_DATE,GEO,`Components of population growth`,`Sex`,UOM,STATUS;""").execution_options(autocommit=True))

time: 250 ms

In [161]:
engine.execute(sa_text("""DELETE from health_char_death_toronto_age_group

where REF_DATE not in ('2007/2008',
'2009/2010',
'2011/2012',
'2013/2014');""").execution_options(autocommit=True))

time: 37 ms

In [162]:
engine.execute(sa_text("""ALTER TABLE `pos`.`health_char_death_toronto_age_group` 
DROP COLUMN `STATUS`,
DROP COLUMN `UOM`,
DROP INDEX `STATUS` ,
DROP INDEX `UOM` ;""").execution_options(autocommit=True))

time: 67.7 ms

In [163]:
colunas_tabela = pd.read_sql_query("""select * from health_char_death_toronto_age_group""", engine)
colunas_tabela.head(100)

,REF_DATE,GEO,Components of population growth,Sex,Age group,VALUE
0,2007/2008,"Toronto, Ontario",Deaths,Females,12 to 19 years,32
1,2007/2008,"Toronto, Ontario",Deaths,Males,12 to 19 years,87
2,2007/2008,"Toronto, Ontario",Emigrants,Females,12 to 19 years,362
3,2007/2008,"Toronto, Ontario",Emigrants,Males,12 to 19 years,399
4,2007/2008,"Toronto, Ontario",Immigrants,Females,12 to 19 years,4797
...,...,...,...,...,...,...
95,2009/2010,"Toronto, Ontario",Net intraprovincial migration,Males,20 to 34 years,-1297
96,2009/2010,"Toronto, Ontario",Net non-permanent residents,Females,20 to 34 years,1822
97,2009/2010,"Toronto, Ontario",Net non-permanent residents,Males,20 to 34 years,3299
98,2009/2010,"Toronto, Ontario",Net temporary emigration,Females,20 to 34 years,703
99,2009/2010,"Toronto, Ontario",Net temporary emigration,Males,20 to 34 years,712

time: 41.7 ms

In [164]:
pivot = pd.pivot_table(colunas_tabela,
        values='VALUE', 
        index=['Age group','REF_DATE','Sex'], 
        columns='Components of population growth', 
        aggfunc=np.sum)

time: 55.4 ms

In [165]:
pivot

Components of population growth     Deaths Emigrants Immigrants  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females     32       362       4797
                            Males       87       399       5021
                  2009/2010 Females     38       317       4533
                            Males       83       329       4659
                  2011/2012 Females     33       297       3502
                            Males       64       359       3674
                  2013/2014 Females     32       336       3048
                            Males       95       374       3333
20 to 34 years    2007/2008 Females    153      3015      19999
                            Males      317      3020      15915
                  2009/2010 Females    162      2550      19639
                            Males      323      2507      15312
                  2011/2012 Females    157      2624      17102
                            Males      326      2523      14302
                  2013/2014 Females    163      3052      18017
                            Males      360      3054      14729
35 to 44 years    2007/2008 Females    296      1761       8850
                            Males      480      2095       8972
                  2009/2010 Females    304      1333       9242
                            Males      441      1604       9432
                  2011/2012 Females    250      1509       7350
                            Males      413      1740       7640
                  2013/2014 Females    273      1629       7693
                            Males      399      1831       7382
45 to 64 years    2007/2008 Females   1890      1251       7301
                            Males     2930      1558       6967
                  2009/2010 Females   1912      1037       7652
                            Males     2907      1388       7491
                  2011/2012 Females   1943      1330       6383
                            Males     2977      1571       6003
                  2013/2014 Females   1940      1357       7286
                            Males     3063      1925       6206
65 years and over 2007/2008 Females  11687       629       3590
                            Males    10441       602       3485
                  2009/2010 Females  11633       565       3624
                            Males    10393       538       3489
                  2011/2012 Females  11924       665       3401
                            Males    10278       642       3284
                  2013/2014 Females  13009       706       4037
                            Males    11850       739       3735

Components of population growth     Net interprovincial migration  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                          -115
                            Males                            -153
                  2009/2010 Females                           112
                            Males                             135
                  2011/2012 Females                           -10
                            Males                            -111
                  2013/2014 Females                           -20
                            Males                            -192
20 to 34 years    2007/2008 Females                          -499
                            Males                           -1207
                  2009/2010 Females                           320
                            Males                             115
                  2011/2012 Females                          -208
                            Males                            -658
                  2013/2014 Females                          -495
                            Males                           -1483
35 to 44 years    2007/2008 Females                          -614
                            Males                           -1057
                  2009/2010 Females                          -152
                            Males                            -303
                  2011/2012 Females                          -291
                            Males                            -322
                  2013/2014 Females                          -426
                            Males                            -566
45 to 64 years    2007/2008 Females                          -666
                            Males                            -907
                  2009/2010 Females                          -367
                            Males                            -449
                  2011/2012 Females                          -461
                            Males                            -490
                  2013/2014 Females                          -552
                            Males                            -664
65 years and over 2007/2008 Females                          -122
                            Males                            -275
                  2009/2010 Females                            66
                            Males                             -78
                  2011/2012 Females                          -100
                            Males                            -197
                  2013/2014 Females                           -95
                            Males                            -168

Components of population growth     Net intraprovincial migration  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                          -208
                            Males                            -390
                  2009/2010 Females                          -417
                            Males                            -616
                  2011/2012 Females                          -688
                            Males                            -521
                  2013/2014 Females                          -725
                            Males                            -575
20 to 34 years    2007/2008 Females                          -619
                            Males                            -642
                  2009/2010 Females                         -1496
                            Males                           -1297
                  2011/2012 Females                         -1382
                            Males                           -1308
                  2013/2014 Females                         -1696
                            Males                           -1776
35 to 44 years    2007/2008 Females                         -1127
                            Males                           -1542
                  2009/2010 Females                         -1371
                            Males                           -1746
                  2011/2012 Females                         -1353
                            Males                           -1817
                  2013/2014 Females                         -1434
                            Males                           -1986
45 to 64 years    2007/2008 Females                         -3327
                            Males                           -3195
                  2009/2010 Females                         -3897
                            Males                           -3822
                  2011/2012 Females                         -3841
                            Males                           -3977
                  2013/2014 Females                         -4379
                            Males                           -4315
65 years and over 2007/2008 Females                         -1081
                            Males                           -1071
                  2009/2010 Females                         -1305
                            Males                           -1381
                  2011/2012 Females                         -1583
                            Males                           -1603
                  2013/2014 Females                         -1605
                            Males                           -1845

Components of population growth     Net non-permanent residents  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                        2191
                            Males                          2409
                  2009/2010 Females                        2595
                            Males                          3521
                  2011/2012 Females                        3789
                            Males                          4922
                  2013/2014 Females                        5154
                            Males                          6087
20 to 34 years    2007/2008 Females                        1118
                            Males                           265
                  2009/2010 Females                        1822
                            Males                          3299
                  2011/2012 Females                        2544
                            Males                          5259
                  2013/2014 Females                        -163
                            Males                          1207
35 to 44 years    2007/2008 Females                         547
                            Males                           111
                  2009/2010 Females                        -713
                            Males                         -1157
                  2011/2012 Females                        -282
                            Males                          1072
                  2013/2014 Females                       -1533
                            Males                         -1068
45 to 64 years    2007/2008 Females                          36
                            Males                          -285
                  2009/2010 Females                        -474
                            Males                          -778
                  2011/2012 Females                        -537
                            Males                            51
                  2013/2014 Females                       -1167
                            Males                         -1101
65 years and over 2007/2008 Females                          76
                            Males                            53
                  2009/2010 Females                         -17
                            Males                           -34
                  2011/2012 Females                        -337
                            Males                          -281
                  2013/2014 Females                        -187
                            Males                          -156

Components of population growth     Net temporary emigration  \
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                       90
                            Males                         95
                  2009/2010 Females                       97
                            Males                        102
                  2011/2012 Females                       83
                            Males                         94
                  2013/2014 Females                       80
                            Males                         92
20 to 34 years    2007/2008 Females                      687
                            Males                        695
                  2009/2010 Females                      703
                            Males                        712
                  2011/2012 Females                      631
                            Males                        614
                  2013/2014 Females                      704
                            Males                        711
35 to 44 years    2007/2008 Females                      407
                            Males                        488
                  2009/2010 Females                      383
                            Males                        467
                  2011/2012 Females                      372
                            Males                        430
                  2013/2014 Females                      381
                            Males                        428
45 to 64 years    2007/2008 Females                      281
                            Males                        336
                  2009/2010 Females                      299
                            Males                        369
                  2011/2012 Females                      342
                            Males                        391
                  2013/2014 Females                      328
                            Males                        451
65 years and over 2007/2008 Females                      160
                            Males                        154
                  2009/2010 Females                      167
                            Males                        170
                  2011/2012 Females                      182
                            Males                        175
                  2013/2014 Females                      186
                            Males                        192

Components of population growth     Residual deviation Returning emigrants
Age group         REF_DATE  Sex
12 to 19 years    2007/2008 Females                465                 418
                            Males                 -482                 413
                  2009/2010 Females                863                 427
                            Males                  532                 442
                  2011/2012 Females                NaN                 480
                            Males                  NaN                 467
                  2013/2014 Females                NaN                 519
                            Males                  NaN                 498
20 to 34 years    2007/2008 Females              -3194                2002
                            Males                -5591                1770
                  2009/2010 Females              -2711                2054
                            Males                -5383                1851
                  2011/2012 Females                NaN                2292
                            Males                  NaN                2004
                  2013/2014 Females                NaN                2427
                            Males                  NaN                2099
35 to 44 years    2007/2008 Females              -2492                 701
                            Males                -3504                 798
                  2009/2010 Females              -2598                 735
                            Males                -3750                 825
                  2011/2012 Females                NaN                 899
                            Males                  NaN                 965
                  2013/2014 Females                NaN                 938
                            Males                  NaN                1028
45 to 64 years    2007/2008 Females                179                 739
                            Males                 -406                 891
                  2009/2010 Females               -447                 804
                            Males                -1016                 939
                  2011/2012 Females                NaN                 927
                            Males                  NaN                1132
                  2013/2014 Females                NaN                 961
                            Males                  NaN                1205
65 years and over 2007/2008 Females               -855                 332
                            Males                 -547                 336
                  2009/2010 Females              -1208                 356
                            Males                 -992                 343
                  2011/2012 Females                NaN                 390
                            Males                  NaN                 364
                  2013/2014 Females                NaN                 418
                            Males                  NaN                 386

time: 13.6 ms

In [166]:
flattened = pd.DataFrame(pivot.to_records())

time: 2.91 ms

In [167]:
flattened

,Age group,REF_DATE,Sex,Deaths,Emigrants,Immigrants,Net interprovincial migration,Net intraprovincial migration,Net non-permanent residents,Net temporary emigration,Residual deviation,Returning emigrants
0,12 to 19 years,2007/2008,Females,32,362,4797,-115,-208,2191,90,465,418
1,12 to 19 years,2007/2008,Males,87,399,5021,-153,-390,2409,95,-482,413
2,12 to 19 years,2009/2010,Females,38,317,4533,112,-417,2595,97,863,427
3,12 to 19 years,2009/2010,Males,83,329,4659,135,-616,3521,102,532,442
4,12 to 19 years,2011/2012,Females,33,297,3502,-10,-688,3789,83,NaN,480
5,12 to 19 years,2011/2012,Males,64,359,3674,-111,-521,4922,94,NaN,467
6,12 to 19 years,2013/2014,Females,32,336,3048,-20,-725,5154,80,NaN,519
7,12 to 19 years,2013/2014,Males,95,374,3333,-192,-575,6087,92,NaN,498
8,20 to 34 years,2007/2008,Females,153,3015,19999,-499,-619,1118,687,-3194,2002
9,20 to 34 years,2007/2008,Males,317,3020,15915,-1207,-642,265,695,-5591,1770
10,20 to 34 years,2009/2010,Females,162,2550,19639,320,-1496,1822,703,-2711,2054
11,20 to 34 years,2009/2010,Males,323,2507,15312,115,-1297,3299,712,-5383,1851
12,20 to 34 years,2011/2012,Females,157,2624,17102,-208,-1382,2544,631,NaN,2292
13,20 to 34 years,2011/2012,Males,326,2523,14302,-658,-1308,5259,614,NaN,2004
14,20 to 34 years,2013/2014,Females,163,3052,18017,-495,-1696,-163,704,NaN,2427
15,20 to 34 years,2013/2014,Males,360,3054,14729,-1483,-1776,1207,711,NaN,2099
16,35 to 44 years,2007/2008,Females,296,1761,8850,-614,-1127,547,407,-2492,701
17,35 to 44 years,2007/2008,Males,480,2095,8972,-1057,-1542,111,488,-3504,798
18,35 to 44 years,2009/2010,Females,304,1333,9242,-152,-1371,-713,383,-2598,735
19,35 to 44 years,2009/2010,Males,441,1604,9432,-303,-1746,-1157,467,-3750,825
20,35 to 44 years,2011/2012,Females,250,1509,7350,-291,-1353,-282,372,NaN,899
21,35 to 44 years,2011/2012,Males,413,1740,7640,-322,-1817,1072,430,NaN,965
22,35 to 44 years,2013/2014,Females,273,1629,7693,-426,-1434,-1533,381,NaN,938
23,35 to 44 years,2013/2014,Males,399,1831,7382,-566,-1986,-1068,428,NaN,1028
24,45 to 64 years,2007/2008,Females,1890,1251,7301,-666,-3327,36,281,179,739
25,45 to 64 years,2007/2008,Males,2930,1558,6967,-907,-3195,-285,336,-406,891
26,45 to 64 years,2009/2010,Females,1912,1037,7652,-367,-3897,-474,299,-447,804
27,45 to 64 years,2009/2010,Males,2907,1388,7491,-449,-3822,-778,369,-1016,939
28,45 to 64 years,2011/2012,Females,1943,1330,6383,-461,-3841,-537,342,NaN,927
29,45 to 64 years,2011/2012,Males,2977,1571,6003,-490,-3977,51,391,NaN,1132
30,45 to 64 years,2013/2014,Females,1940,1357,7286,-552,-4379,-1167,328,NaN,961
31,45 to 64 years,2013/2014,Males,3063,1925,6206,-664,-4315,-1101,451,NaN,1205
32,65 years and over,2007/2008,Females,11687,629,3590,-122,-1081,76,160,-855,332
33,65 years and over,2007/2008,Males,10441,602,3485,-275,-1071,53,154,-547,336
34,65 years and over,2009/2010,Females,11633,565,3624,66,-1305,-17,167,-1208,356
35,65 years and over,2009/2010,Males,10393,538,3489,-78,-1381,-34,170,-992,343
36,65 years and over,2011/2012,Females,11924,665,3401,-100,-1583,-337,182,NaN,390
37,65 years and over,2011/2012,Males,10278,642,3284,-197,-1603,-281,175,NaN,364
38,65 years and over,2013/2014,Females,13009,706,4037,-95,-1605,-187,186,NaN,418
39,65 years and over,2013/2014,Males,11850,739,3735,-168,-1845,-156,192,NaN,386

time: 14.7 ms

In [168]:
flattened.to_csv('17100079-eng/toronto_pivot.csv', encoding='utf-8', index=False)

time: 2.23 ms

In [169]:
measurer = np.vectorize(len)
res1 = dict(zip(flattened, measurer(flattened.values.astype(str)).max(axis=0)))

time: 2.59 ms

In [170]:
res1

{'Age group': 17,
 'Deaths': 5,
 'Emigrants': 4,
 'Immigrants': 5,
 'Net interprovincial migration': 5,
 'Net intraprovincial migration': 5,
 'Net non-permanent residents': 5,
 'Net temporary emigration': 3,
 'REF_DATE': 9,
 'Residual deviation': 5,
 'Returning emigrants': 4,
 'Sex': 7}

time: 2.35 ms

In [171]:
query = """CREATE TABLE `health_char_death_toronto_pivot` (
  `Age group` varchar(17) DEFAULT NULL,
  `REF_DATE` varchar(9) DEFAULT NULL,
  `Sex` varchar(7) DEFAULT NULL,
  `Deaths` varchar(10) DEFAULT NULL,
  `Emigrants` varchar(10) DEFAULT NULL,
  `Immigrants` varchar(10) DEFAULT NULL,
  `Net interprovincial migration` varchar(10) DEFAULT NULL,
  `Net intraprovincial migration` varchar(10) DEFAULT NULL,
  `Net non-permanent residents` varchar(9) DEFAULT NULL,
  `Net temporary emigration` varchar(10) DEFAULT NULL,
  `Residual deviation`  varchar(10) DEFAULT NULL,
  `Returning emigrants` varchar(10) DEFAULT NULL,
  KEY `Age group` (`Age group`),
  KEY `REF_DATE` (`REF_DATE`) ,
  KEY `Sex` (`Sex`),
  KEY  `Deaths` (`Deaths`),
  KEY `Emigrants` (`Emigrants`),
  KEY `Immigrants` (`Immigrants`),
  KEY `Net interprovincial migration` (`Net interprovincial migration`),
  KEY `Net intraprovincial migration` (`Net intraprovincial migration`),
  KEY `Net non-permanent residents`  (`Net non-permanent residents`),
  KEY `Net temporary emigration` (`Net temporary emigration`),
  KEY `Residual deviation` (`Residual deviation`),
  KEY `Returning emigrants` (`Returning emigrants`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""

time: 2.09 ms

In [172]:
engine.execute(sa_text('''DROP TABLE IF EXISTS health_char_death_toronto_pivot''').execution_options(autocommit=True))

/home/house/.local/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'pos.health_char_death_toronto_pivot'")
  result = self._query(query)

time: 5.14 ms

In [173]:
engine.execute(sa_text(query).execution_options(autocommit=True))

time: 35.4 ms

In [174]:
engine.execute(sa_text("""LOAD DATA LOCAL INFILE '/home/house/Documents/TCC_final/17100079-eng/toronto_pivot.csv'  INTO TABLE pos.health_char_death_toronto_pivot  FIELDS TERMINATED BY ','  ENCLOSED BY '\"' IGNORE 1 LINES;""").execution_options(autocommit=True))

time: 5.11 ms

In [175]:
engine.execute(sa_text("""alter table health_char_death_toronto_pivot
  drop `Residual deviation` """).execution_options(autocommit=True))

time: 85.8 ms